<template>
    <div class="icon-dropdown-container ruletype-selector" :class="selectedItemClass">
        <div class="icon-dropdown" :class="containerClasses">
            <div class="icon-dropdown-item icon-dropdown-item--downmenu icon-menu-item selected icon-menu" :class="selectedItemClass" @click="toggleDropdown" ref="target">
                <div class="clickable-icon" :class="{'pt-0':selectedItem.superIcon}">
                    <i v-if="!selectedItem" class="fa fa-2x fa-exclamation-triangle"></i>
                    <template v-else>
                        <div v-if="selectedItem.superIcon" class="fa-stack">
                            <i class="fa-stack-2x" :class="selectedItem.icon"></i>
                            <i v-if="selectedItem.superIcon" class="fa-stack-1x" :class="selectedItem.superIcon"></i>
                        </div>
                        <i v-else :class="['fa-2x', selectedItem.icon]"></i>
                        <span>{{ selectedItem.name }}</span>
                    </template>
                </div>
                <div class="arrow icon-dropdown-arrow" v-if="!disabled">
                    <i class="fa" :class="arrowIconClass"></i>
                </div>
            </div>
            
            <div v-if="menuOpen && !disabled">
                <!-- eslint-disable vue/no-use-v-if-with-v-for -->
                <v-tooltip left :color="item.tooltipClass" v-for="(item, key) in unselecteditems" :key="key">
                    <template v-slot:activator="{ on }">
                        <span class="icon-menu">
                            <div class="icon-dropdown-item icon-menu-item" :class="menuItemClass(item)" @click="changeItem(item)" v-on="on">
                                <div v-if="item.superIcon" class="fa-stack">
                                    <i class="fa-stack-2x" :class="item.icon"></i>
                                    <i v-if="item.superIcon" class="fa-stack-1x" :class="item.superIcon"></i>
                                </div>
                                <i v-else :class="['fa-2x', item.icon]"></i>
                                <span class="element-type-name" v-if="displayName(item)">{{ item.name }}</span>
                            </div>
                        </span>
                    </template>
                    <span>{{ item.desc }}</span>
                </v-tooltip>
            </div>
        </div>
    </div>
</template>

<script lang="ts">
import Vue from "vue";
import Component from "vue-class-component";
import { Prop, Watch, Model } from "vue-property-decorator";
import { ElementType } from "amads-common";
import { ElementSubType, Script } from "amads-common/models/script";
import { MediaType } from "amads-common/models/media";
import { IconDropdownItem } from './IconDropdownItem';
import { MatchType } from "amads-common/models/rule";


@Component({
})
export default class IconDropdown extends Vue {
    // v-model
    @Model('change', { type: null }) readonly value: any;
    @Prop({ default: false }) private disabled: boolean;
    @Prop({ default: true }) private showName: boolean;
    @Prop({ type: null }) private themeOverride: any;
    @Prop({ default: false, required: true }) open: boolean;
    @Prop({ required: true, type: Array }) items: IconDropdownItem[];

    public get unselecteditems(): any[] {
        return this.items.filter((item) => item !== this.selectedItem);
    }

    public get containerClasses(): object {
        return {
            open: this.menuOpen,
            disabled: this.disabled
        };
    }
    
    public get arrowIconClass(): string {
        return this.open ? "fa-caret-up" : "fa-caret-down";
    }

    public get selectedItem(): IconDropdownItem {
        return this.items.find(item => {
            if (Array.isArray(item.value)) {
                return item.value.find(value => value === this.value)
            }
            return item.value == this.value
        });
    }
    
    public get selectedItemClass(): string {
        return this.themeOverride ?? this.selectedItem?.itemClass;
    }

    public get menuOpen() {
        return this.open;
    }

    public set menuOpen(value) {
        this.$emit('update:open', value);
    }

    public displayName(item: IconDropdownItem): boolean {
        return (this.showName && item.name?.length > 0);
    }

    public menuItemClass(item: IconDropdownItem) {
        return [
            this.themeOverride ?? item?.itemClass,
            {
                "icon-dropdown-item--no-hover": !this.displayName(item),
                "icon-dropdown-item--disabled": item.disabled
            }
        ]
    }

    public changeItem(item: IconDropdownItem) {
        if (!item.disabled) {
            this.$emit('change', Array.isArray(item.value) ? item.value[0] : item.value);
            this.toggleDropdown();
        }
    }

    public toggleDropdown() {
        if (this.disabled) {
            this.menuOpen = false;
        } else {
            this.menuOpen = !this.menuOpen;
        }
    }

    public clickAway(e) {
        if (!e.path.find(target => target === this.$refs.target)) {
            this.menuOpen = false;
        }
    }

    @Watch('open')
    public toggleListeners(to) {
        if (to) {
            document.addEventListener("click", this.clickAway);
        } else {
            document.removeEventListener("click", this.clickAway);
        }
    }

    beforeDestroy() {
        document.removeEventListener("click", this.clickAway);
    }
}
</script>

<style lang="scss" scoped>
;

.icon-dropdown-container--wide {
    width: 120px;
    .icon-dropdown {
        width: 120px;
    }
    .icon-dropdown-item {
        width: 110px;
    }
}
.icon-dropdown-container--branchview {
    text-align: right;
    margin: 4px -5px 0.5rem 0;
}

.selected .fa-stack {
    margin-right: -6px;
}
.fa-stack-2x {
    font-size: 1.5em !important;
    margin-left: -4px;
    line-height: 1.4em !important;
}
.fa-stack-1x {
    font-size: 12px !important;
    top: 3px;
    right: -9px;
    left: auto;
    background-color: $white;
    color: inherit;
    width: 20px;
    line-height: 14px !important;
    border-radius: 4px;
    padding: 0px 5px;
}
.icon-dropdown-item:not(.selected):hover .fa-stack-1x {
    background-color: $light-grey-4;
}
</style>