;

.c-image-upload {
    &__thumbnail {
        position: relative;
        margin: 0px auto 20px;
        width: 200px;
        height: 200px;
        border: 1px solid $grey;
        transition: 0.2s;

        &.is-cropping {
            margin-bottom: 45px;
        }
    }

    &__logo-preview {
        max-width: 100%;
        max-height: 100%;
        width: 100%;
        height: 100%;
        object-fit: contain;
    }

    &__remove-image {
        position: absolute;
        top: -10px;
        left: calc(50% + 90px);
        height: 20px;
        width: 20px;
        text-align: center;
        border-radius: 10px;
        cursor: pointer;
        transition: 0.2s;

        &:hover {
            background-color: $dark-red-2 !important;
            box-shadow: 0 0 5px 0 $black-transparent-60;
        }
    }

    &__footer {
        margin-top: 10px;
        text-align: center;
        text-transform: uppercase;

        i {
            padding: 5px;
            cursor: pointer;
            transition: 0.2s;
        }
    }

    &__file {
        margin-top: 10px;
    }
}
