<div class="c-image-upload">
    <div v-show="editableLogoUrl" :class="['c-image-upload__thumbnail', {'is-cropping': cropping}]">
        <img id="logo-preview" class="c-image-upload__logo-preview" :src="editableLogoUrl">
        <div class="c-image-upload__remove-image red" @click="removeImage">
            <i class="fa fa-times white--text"></i>
        </div>
        <div class="c-image-upload__footer">
            <i class="fa fa-lg fa-times red--text" v-if="cropping" @click="finishCrop(false)"></i>
            <i class="fa fa-lg fa-check green--text" v-if="cropping" @click="finishCrop(true)"></i>
        </div>
    </div>
    <label for="image-resource" v-show="!editableLogoUrl" class="c-image-upload__file upload-label hidden-button">
        <span v-if="imageUploading">
            <i class="fa fa-circle-o-notch fa-spin"></i> Uploading
        </span>
        <span v-else>
            <i class="fa fa-upload"></i> Choose image
        </span>
        <input 
            type="file" 
            @change="upload($event)" 
            accept="image/*"
            class="input-file"
            name="image-resource" />
    </label>
</div>