;

$icon-size: 14rem;
$font-size: 20px;

.c-placeholder {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 50vh;
    border: 1px dashed $light-grey-1;

    &__content {
        display: block;
        text-align: center;

        i {
            margin-bottom: 5px;
            font-size: $icon-size;
            color: $light-grey-1;
        }

        p {
            color: $light-grey-1;
            font-size: $font-size;
        }
    }
}
