<div class="c-placeholder" :style="height ? `min-height: ${height}` : null">
    <div class="c-placeholder__content">
        <i v-if="icon" :class="['fa', icon]"></i>
        <p><span v-html="text"></span></p>
    </div>
</div>