.teams-btn {
    @include amads-button;
}

.teams-form-container {
    width: 720px;
    margin: 0 auto;
    background-color: $white;
    border: 1px solid $light-grey-1 !important;
    border-radius: $border-radius;
}

.teams-form-container__title {
    font-size: 15px;
    background-color: $light-grey-3;
    color: $dark-grey-2;
    border-radius: $border-radius $border-radius 0 0;
    margin: -1px -25px 6px;
    padding: 14px 16px;
    border: 1px solid $light-grey-1;
}

.form__button {
    &--add {
        background-color: $green !important;
        color: $white !important;
    }

    &--cancel {
        border-color: $dark-grey-1 !important;
        color: $dark-grey-1 !important;
    }

    &--delete {
        background-color: $red !important;
        color: $white !important;
    }
}

.v-input--radio-group__input {
    .v-label {
        margin-right: 10px;
    }
}

.v-dialog {
    border-radius: $border-radius;
}

.v-card {
    &__actions {
        padding-left: 14px;
        padding-right: 14px;
    }
    &__title {
        padding-top: 12px;
    }
}