$px-4: 24px;
.amads-form {
    &__container {
        max-width: 800px;
        background: white;
        padding: 0 $px-4 $px-4 !important;
        border-radius: $border-radius;
    }
    &__datetime {
        width: 100%;
    }
    &__title {
        font-size: 1.6rem;
        color: $dark-grey-2;
        border-radius: $border-radius $border-radius 0 0;
    }
    .text-field .v-input__slot, .datetime__text-input .v-input__slot {
        &::before, &::after {
            display: none;
        }
    }
    // .v-textarea textarea {
    //     border-bottom: 1px solid $grey;
    // }
    .v-input {
        &.error--text {
            padding-bottom: 10px;
        }
        &.client__name {
            /deep/ input {
                font-size: 1.25em;
            }
        }
    }
}
