.c-select-group {
    .v-subheader {
        color: $light-grey-1;
        height: auto;
        padding: 0px 10px 0px;
        margin-bottom: 5px;
        text-transform: uppercase;

        &:not(:first-of-type) {
            padding-top: 5px;
            margin-top: 5px;
        }
    }
}
