.nested-view {
  position: relative;
}
.slide-right-enter-active,
.slide-left-enter-active,
.slide-right-leave-active,
.slide-left-leave-active,
.fade-enter-active,
.fade-leave-active {
  transition-duration: .35s;
  transition-property: transform, opacity;
  transition-timing-function: ease-out;
  will-change: tranform;
  width: 100%;
  position: absolute;
}

.slide-right-enter,
.slide-left-leave-to{
  transform: translate3d(150%, 0, 0);
}

.slide-left-enter,
.slide-right-leave-to{
  transform: translate3d(-150%, 0, 0);
}

.slide-right-enter-to,
.slide-left-enter-to,
.slide-right-leave,
.slide-left-leave {
  transform: translate3d(0, 0, 0);
}

.slide-left-leave,
.slide-right-leave,
.fade-enter-to,
.fade-leave {
  opacity: 1;
}

.slide-left-leave-to,
.slide-right-leave-to,
.fade-leave-to,
.fade-enter {
  opacity: 0;
}
