$actionBaseWidth: 35px;
$avatarBaseWidth: 77px;
$contentBaseWidth: calc((100% - 42px) - #{$avatarBaseWidth});
$panelBorder: 1px solid $light-grey-3;
$panelBaseHeight: 78px;
$avatarIconSize: 36px;
$actionIconSize: 14px;
$indicatorPosition: 14px;

.panel {
    background-color: $white;
    overflow: hidden;
    border: $panelBorder;
    border-radius: 4px;
    transition: border-color 0.3s;

    & > div:first-child {
        height: $panelBaseHeight;
        padding: 0;
    }

    &--link {
        cursor: pointer;
    }

    &--with-actions {
        .panel__actions {
            cursor: pointer;
            position: absolute;
            transition: right 0.35s cubic-bezier(0.65, 0.05, 0.36, 1);
            @for $i from 1 through 10 {
                &--#{$i} {
                    right: calc(0px - (#{$i}*#{$actionBaseWidth}));
                }
            }
        }
    }

    &:hover {
        border-color: $light-grey-1;
        color: $dark-grey-3;

        .panel__actions {
            right: 0 !important;
        }

        .panel__indicator {
            @for $i from 1 through 10 {
                &--#{$i} {
                    right: calc(
                        #{$indicatorPosition} + (#{$i}*#{$actionBaseWidth})
                    );
                }
            }
        }
    }

    .panel__avatar {
        min-width: $avatarBaseWidth;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: 0.2s;
        i {
            font-size: $avatarIconSize;
            color: $dark-grey-1;
        }
    }

    &__content {
        transition: width 0.35s cubic-bezier(0.65, 0.05, 0.36, 1);
        flex-grow: 0;
        flex-shrink: 0;
        width: $contentBaseWidth;
        border-left: $panelBorder;
        &:first-child {
            border-left: 0;
        }
        &--right {
            display: flex;
            margin-left: auto;
            align-items: center;
            transition: 0.35s;
        }
    }

    &__title {
        color: $pink;
    }

    &__indicator {
        color: $light-grey-2;
        position: absolute;
        right: $indicatorPosition;
        transition: right 0.35s cubic-bezier(0.65, 0.05, 0.36, 1);
    }

    &__actions {
        flex-direction: row;

        & > * {
            display: flex;
            align-items: center;
            justify-content: center;
            width: $actionBaseWidth;
            height: 120%;
            background: $light-grey-3;
            color: $dark-grey-3;
            text-align: center;
            font-size: $actionIconSize;
            transition: 0.2s;

            &:hover {
                background: $light-grey-4;
                color: $lightblue;
            }
        }
    }

    .message-panel {
        height: 100%;
        width: 100%;
        background: $light-grey-2;
        position: absolute;
        color: $dark-grey-1;
        z-index: 2;
        transition: right 0.35s cubic-bezier(0.65, 0.05, 0.36, 1);
        right: -$avatarBaseWidth;
        top: 0px;
        &:first-child {
            display: flex;
            align-items: center;
        }

        i {
            font-size: $actionIconSize;
        }

        &--hidden {
            right: -100%;
        }
    }
}
