;

.button-group {
    // display: inline-block;
    // padding: 5px;
    // border: 1px solid #eee;
    // border-radius: 14px;
    margin-top: 6px;
    .group-button {
        display: inline-block;
        text-align: center;
        width: 80px;
        padding: 7px 5px 5px;
        margin-left: 3px;
        border-radius: 10px;
        background-color: $light-grey-2;
        color: $grey;
        transition: 0.2s;
        cursor: pointer;
        &:first-child {
            margin-left: 0;
        }
        &:hover {
            background-color: $light-grey-1;
            color: $dark-grey-1;
        }
        &.selected {
            background-color: $light-lightblue-1;
            color: $white;
            &:hover {
                background-color: $lightblue;
            }
        }
        p {
            margin: 0;
            font-size: 0.8em;
        }
    }
}
