;

.icon-button-group {
    float: left;
    padding: 4px;
    margin: 4px 4px 0 0;
    border: 1px solid $lightblue;
    border-radius: 12px;
    height: 57px;
    .icon-button {
        margin: 0 4px 0 0 !important;
        height: 48px;
        width: 80px;
        &:first-child {
            border-top-left-radius: 8px;
            border-bottom-left-radius: 8px;
        }
        &:last-child {
            border-top-right-radius: 8px;
            border-bottom-right-radius: 8px;
            margin-right: 0 !important;
        }
        i {
            font-size: 1.6em !important;
            line-height: 0.9em !important;
        }
    }
}

.icon-button {
    float: right;
    height: 56px;
    padding: 8px 30px 8px 8px;
    margin: 5px;
    border-radius: 8px;
    cursor: pointer;
    text-align: center;
    position: relative;
    font-size: 0.8em;
    transition: 0.2s;
    color: $dark-grey-1;
    &:hover {
        background-color: $light-grey-1 !important;
        &.green {
            background-color: $dark-green-1 !important;
        }
        &.light-blue {
            background-color: $blue !important;
        }
        &.red {
            background-color: $dark-red-2 !important;
        }
        .arrow {
            width: 25px;
        }
    }
    &.right {
        margin-right: 0;
        &.no-arrow {
            padding-right: 8px;
        }
    }
    &.left {
        padding: 8px 8px 8px 30px;
        margin-left: 0;
        margin-right: 10px;
        float: left;
        &.no-arrow {
            padding-left: 8px;
        }
        .arrow {
            right: auto;
            left: 0;
        }
    }
    &[selected] {
        &.grey {
            background-color: $lightblue !important;
            &:hover {
                background-color: $blue !important;
            }
        }
        &.light-blue,
        &.red {
            background-color: $green !important;
            &:hover {
                background-color: $dark-green-1 !important;
            }
        }
        color: $white;
    }
    &.with-sub {
        margin-right: 1px !important;
        border-top-right-radius: 0;
        border-bottom-right-radius: 0;
    }
    &.sub-button {
        width: auto;
        margin: 9px 0 0;
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        i {
            font-size: 1.6em !important;
            line-height: 0.9em !important;
        }
    }
    p {
        margin: 0;
    }
    .arrow {
        position: absolute;
        right: 0;
        top: 0;
        line-height: 56px;
        width: 30px;
        transition: 0.2s;
        i {
            font-size: 1.2em;
        }
    }
}
