;

.list-limiter {
    display: flex;
    margin: 12px auto 0;
    user-select: none;

    .show-more-conditions {
        width: 50%;
        margin: 0;
        font-size: 0.8em;
        color: $grey;
        &:first-child {
            text-align: right;
            & > span,
            & > a {
                border-bottom-right-radius: 0;
                border-top-right-radius: 0;
                padding-left: 8px;
            }
            &:last-child {
                // this is the only button
                width: 100%;
                text-align: center;
                & > span,
                & > a {
                    // border-radius: 25px;
                    // border: 1px solid $light-grey-2;
                    display: inline-flex;
                    margin: auto 10px;
                    padding: 3px 7px;
                    border: 1px solid $grey;
                    border-radius: 3px;
                    cursor: pointer;
                    transition: 0.2s;
                    text-align: center;
                    &.pink {
                        border: 0;
                        cursor: auto;
                    }
                }
            }
        }
        &:last-child {
            & > span,
            & > a {
                border-bottom-left-radius: 0;
                border-top-left-radius: 0;
                border-left: 0;
                padding-right: 8px;
            }
        }
        & > span,
        & > a {
            border: 1px solid $light-grey-2;
            border-radius: 3px;
            padding: 3px 6px;
            display: inline-block;
            transition: 0.2s background-color;
            cursor: pointer;
            line-height: 16px;
            i {
                margin-right: 6px;
                line-height: 16px;
            }
        }
        & > span {
            &:hover {
                color: $white;
                background-color: $pink;
                border-color: $pink !important;
            }
        }
        & > a {
            background-color: $lightblue;
            color: $white;
            border: 1px solid $blue;
            &:hover {
                color: $white;
                background-color: $blue;
                border-color: $dark-blue-2;
            }
        }
        &.no-results {
            padding: 0 !important;
        }
    }
}
