<div class="list-limiter">
    <div class="show-more-conditions no-results" v-if="itemCount === 0 || noRules">
        <span class="pink white--text" v-if="noRules && !searching">
            <i class="fa fa-info-circle"></i> Your script doesn't have any dynamic elements. This view is most helpful when you want to view multiple script options at once.
        </span>
        <span @click="resetFilters(true)" v-else>
            <i class="fa fa-exclamation-circle"></i> No results!{{searching ? ' Clear your search.' : ''}}
        </span>
    </div>

    <div class="show-more-conditions" v-if="toggleMode && redirect">
        <a :href="redirect">
            <i class="fa" :class="redirectIcon" v-if="redirectIcon"></i> Go to {{redirectText}}
        </a>
    </div>
    <div class="show-more-conditions" v-else-if="toggleMode && itemCount > limit">
        <span @click="increaseLimit" v-if="collapseMode">
            Show more
        </span>
        <span @click="increaseLimit" v-else-if="(itemCount-limit) > origLimit">
            Show {{origLimit}} more
        </span>
        <span @click="increaseLimit" v-else>
            Show all {{itemCount}}
        </span>
    </div>

    <div class="show-more-conditions" v-if="!toggleMode && (itemCount > limit)"> <!-- there is an overflow of results -->
        <span @click="increaseLimit" v-if="(itemCount-limit) > origLimit">
            Show {{origLimit}} more <span v-if="searching">matching results</span><span v-else-if="filterErrors">options with errors</span>
        </span>
        <span @click="delimit" v-else>
            Show all {{itemCount}} <span v-if="searching">matching results</span><span v-else-if="filterErrors">options with errors</span>
        </span>
    </div>
    <div class="show-more-conditions show-all" v-if="!toggleMode && (itemCount > limit) && ((itemCount-limit) > origLimit)">
        <span @click="delimit">
            Show all {{itemCount}} <span v-if="searching">matching results</span><span v-else-if="filterErrors">options with errors</span>
        </span>
    </div>
    <div class="show-more-conditions" v-else-if="(itemCount > origLimit) && (limit > origLimit)"> <!-- we are showing more; reduce back to first few -->
        <span @click="resetLimit" v-if="collapseMode">
            Show less
        </span>
        <span @click="resetLimit" v-else>
            Show only first {{origLimit}} <span v-if="searching">matching results</span><span v-else-if="filterErrors">options with errors</span>
        </span>
    </div>
    <div class="show-more-conditions" v-else-if="!toggleMode && filterConditions">
        <span @click="resetFilters(true,true)"><i class="fa fa-info-circle"></i> Filtering conditions. Show all {{totalItemCount}} options</span>
    </div>
    <div class="show-more-conditions" v-else-if="!toggleMode && filterDefault">
        <span @click="resetFilters(false)"><i class="fa fa-info-circle"></i> Only showing default. Show all {{totalItemCount}} options</span>
    </div>
    <div class="show-more-conditions" v-else-if="!toggleMode && filterErrors && (itemCount < totalItemCount)">
        <span @click="resetFilters(false)"><i class="fa fa-info-circle"></i> Only showing options with errors. Show all {{totalItemCount}} options</span>
    </div>
</div>