<template>
    <div class="messagebars">
        <div
            v-for="(groupBars, index) in messagebars"
            :key="index"
            class="messagebar-container"
            :style="{
                bottom: index > 0 ? index * barHeight * messagebars[0].length + 'px' : 0,
                zIndex: containerZIndex - index,
            }"
        >
            <!-- move this group above persistent bars -->
            <v-snackbar
                v-for="(bar, barIndex) in groupBars"
                :key="barIndex"
                v-model="bar.visible"
                :class="[bar.type, { 'with-button': bar.method }]"
                :color="bar.color"
                :timeout="0"
                :style="{ bottom: barIndex * barHeight + 'px', zIndex: 1000 - barIndex - index }"
            >
                <i v-if="bar.icon" :class="['fa-2x mr-3', bar.icon]"></i>
                {{ bar.msg }}
                <v-btn
                    v-if="bar.method"
                    :color="bar.color + ' lighten-2'"
                    dark
                    depressed
                    @click="handleMethod(bar, barIndex)"
                >
                    {{ bar.button || "Close" }}
                </v-btn>
            </v-snackbar>
        </div>
    </div>
</template>

<script lang="ts">
    import Component from "vue-class-component";
    import Vue from "vue";
    import { Action, Getter, modules } from "@store/index";
    import { Messagebar } from "@store/modules/messagebar";

    @Component({})
    export default class MessageBar extends Vue {
        /* ~~~~ Props ~~~~ */

        /* ~~~~ Data ~~~~ */

        public barHeight = 48; // pixel height of messagebar
        public containerZIndex = 700;

        /* ~~~~ Computed Properties ~~~~ */

        // store state and getters
        @Getter("messagebar/messagebars")
        public messagebars: Getter<typeof modules.messagebar.getters.messagebars>;

        /* ~~~~ Methods ~~~~ */

        // store mutations and actions
        @Action("messagebar/closeMessagebar")
        public closeMessagebar: Action<typeof modules.messagebar.actions.closeMessagebar>;

        // other methods
        public handleMethod(bar: Messagebar, index: number): void {
            switch (bar.method) {
                case "close":
                    this.closeMessagebar(index);
                    break;
                case "reload":
                    this.closeMessagebar(index);
                    window.location.reload(true);
                    break;
                default:
                    this.$emit(bar.method, index);
                    if (bar.close) {
                        this.closeMessagebar(index);
                    }
            }
        }

        // lifecycle methods
    }
</script>

<style lang="scss">
    .messagebar-container {
        position: fixed;
        z-index: 700; // matches containerZIndex above
        min-height: 48px; // matches barHeight above
        width: 400px;
        left: calc(50% - 200px);
        bottom: 0;
        transition: 0.2s bottom;
        .v-snack {
            position: absolute;
            transition: 0.2s bottom;
            &.request {
                .v-snack__content {
                    .v-btn {
                        &:first-of-type {
                            margin-left: 70px;
                        }
                        & + .v-btn {
                            margin-left: 3px;
                        }
                    }
                }
            }
            i {
                min-width: 28px;
                text-align: center;
            }
            .v-btn {
                min-width: 54px;
                margin-left: 20px;
            }
            .v-snack-wrapper {
                transition: 0.2s background-color;
            }
            &.with-button {
                .v-snack__wrapper {
                    .v-snack__content {
                        padding: 14px 10px;
                    }
                }
            }
            .v-snack__wrapper {
                width: 400px;
                .v-snack__content {
                    padding: 14px 18px;
                }
            }
        }
    }
</style>
