<template>
  <v-snackbar
    v-model="isVisible"
    :class="[type, { 'with-button': method }]"
    :color="color"
    :timeout="0"
    :style="{
      bottom: barIndex * barHeight + 'px',
      zIndex: 1000 - barIndex - groupIndex
    }"
  >
    <i v-if="icon" :class="['fa-2x mr-3', icon]"></i>
    {{ msg }}
    <v-btn v-if="method" :color="color + ' lighten-2'" dark depressed>
      {{ button || "Close" }}
    </v-btn>
  </v-snackbar>
</template>

<script lang="ts">
import { Vue, Component, Prop } from "vue-property-decorator";

@Component({})
export default class MessageBar extends Vue {
  /* ~~~~ Props ~~~~ */
  @Prop({ default: "error" }) public type!: string;
  @Prop() public method!: string;
  @Prop() public icon!: string;
  @Prop() public msg!: string;
  @Prop() public button!: string;
  @Prop({ default: 0 }) public groupIndex!: number;
  @Prop({ default: 0 }) public barIndex!: number;

  /* ~~~~ Data ~~~~ */
  private isVisible = true;

  private messagebarColor = {
    error: "red",
    warning: "amber",
    warningPersist: "amber",
    lease: "pink",
    request: "pink",
    info: "light-blue",
    infoPersist: "light-blue",
    success: "green",
    edit: "green",
    save: "pink"
  };

  public barHeight = 48; // pixel height of messagebar
  public containerZIndex = 700;
  public get color() {
    return this.messagebarColor[this.type];
  }
}
</script>

<style lang="scss">
.messagebar-container {
  position: fixed;
  z-index: 700; // matches containerZIndex above
  min-height: 48px; // matches barHeight above
  width: 400px;
  left: calc(50% - 200px);
  bottom: 0;
  transition: 0.2s bottom;
  .v-snack {
    position: absolute;
    transition: 0.2s bottom;
    &.request {
      .v-snack__content {
        .v-btn {
          &:first-of-type {
            margin-left: 70px;
          }
          & + .v-btn {
            margin-left: 3px;
          }
        }
      }
    }
    i {
      min-width: 28px;
      text-align: center;
    }
    .v-btn {
      min-width: 54px;
      margin-left: 20px;
    }
    .v-snack-wrapper {
      transition: 0.2s background-color;
    }
    &.with-button {
      .v-snack__wrapper {
        .v-snack__content {
          padding: 14px 10px;
        }
      }
    }
    .v-snack__wrapper {
      width: 400px;
      .v-snack__content {
        padding: 14px 18px;
      }
    }
  }
}
</style>
