;

.c-text-field {
    display: flex;
    padding-top: 0px;
    background-color: $white;
    border-radius: 3px;
    box-shadow: 0px 1px 2px 0px $light-grey-2;

    &.v-text-field {
        .v-input__slot {
            padding: 6px 10px 6px 14px;

            input {
                margin: 0px;
                border-bottom: 0px;
                font-size: 14px;
                box-shadow: none;

                &[readonly] {
                    color: inherit !important;
                }
            }

            &:before,
            &:after {
                display: none;
            }
        }
    }

    &--flat {
        box-shadow: none;

        &.v-text-field {
            .v-input__slot {
                padding: 0px;

                input {
                    font-size: 13px;
                }
            }
        }

        .v-input__control {
            position: relative;

            &:after {
                content: "";
                position: absolute;
                bottom: 0px;
                display: block;
                width: 100%;
                height: 0.1em;
                background-color: $grey;
            }
        }

        &.v-input--is-loading {
            .v-input__control {
                &:after {
                    display: none;
                }
            }
        }
    }
}
