<div class="c-input-field">
    <header-comp
        :icon="icon"
        :title="title"
        :font-size="fontSize"
        :font-weight="fontWeight"
        :color="color"
        :color-variant="colorVariant"
        :asterix="required"></header-comp>
    <slot></slot>
</div>