;

.v-list__tile__avatar {
    min-width: 36px;
}

.v-avatar {
    i {
        margin-right: 0 !important;
        font-size: 14px;
        line-height: 24px;
    }
}

.v-list__tile__content {
    .v-list__tile__sub-title {
        font-size: 11px;
        span:not(:first-child) {
            margin-left: 8px;
        }
        i {
            margin-right: 1px !important;
            margin-left: 2px;
        }
    }
}

.v-menu__content.search-script {
    .v-list__tile__content {
        height: 40px;
        .v-list__tile__title {
            height: 16px;
            line-height: 14px;
        }
    }
    .v-list__tile {
        padding-left: 12px;
        height: 40px;
        i {
            width: auto;
        }
    }
}

.v-select__selections {
    .selected-script {
        font-size: 0.8em;
    }
}

.v-input__icon--clear i {
    font-size: 1.2em;
}

.script-version--search {
    background-color: $light-grey-2;
    display: inline-block;
    padding: 1px 2px;
    min-width: 24px;
    text-align: center;
    border-radius: 4px;
}