;

.delete-button {
    font-size: 0.8em;
    text-align: right;
    width: 120px;
    height: 2em;
    overflow: hidden;
    position: relative;
    white-space: nowrap;
    &.confirm {
        .delete-button-content {
            left: -60px;
        }
    }
    .delete-button-content {
        position: absolute;
        z-index: 1;
        top: 0;
        left: 60px;
        height: 2em;
        width: 180px;
        transition: 0.5s cubic-bezier(0.65, 0.05, 0.36, 1);
        .delete-button-text,
        .confirm-buttons {
            position: absolute;
            padding: 3px 5px;
        }
        .delete-button-text {
            width: 60px;
            left: 0;
            color: $red;
            cursor: pointer;
            &:hover {
                text-decoration: underline;
            }
            i {
                margin-right: 4px;
            }
        }
        .confirm-buttons {
            width: 120px;
            left: 60px;
            .confirm-yes,
            .confirm-no {
                margin: 0 0 0 5px;
                font-size: 1.5em;
                line-height: 0.8em;
                transition: 0.2s ease-in-out;
                cursor: pointer;
            }
            .confirm-yes {
                color: $green;
                &:hover {
                    color: $light-green-2;
                }
            }
            .confirm-no {
                color: $red;
                &:hover {
                    color: $light-red-2;
                }
            }
        }
    }
}
