;

.c-select {
    display: block;
    padding-top: 0px;
    background-color: $white;
    border-radius: 3px;
    box-shadow: 0px 1px 2px 0px $light-grey-2;

    &.v-text-field {
        .v-input__slot {
            padding: 6px 10px 6px 14px;

            input {
                margin: 0px;
                border-bottom: 0px;
                font-size: 14px;
                box-shadow: none;
            }

            &:before,
            &:after {
                display: none;
            }
        }
    }
}
