<template>
    <div>
        <div v-if="results.length" class="search-results">
            <search-result
                v-for="(result, key) in results"
                :key="key"
                :result="result"
                :can-share="canShare"
                :can-tag="canTag"
                :can-analytics="canAnalytics"
                class="my-2"
            />
        </div>
        <div v-else-if="wait" class="search-wait mt-2">
            <i class="fa fa-spin fa-circle-o-notch fa-3x grey--text text--lighten-1"></i>
        </div>
        <div v-else class="search-empty mt-2 grey--text text--lighten-1">
            <i class="fas fa-search fa-3x mb-2"></i>
            <p>Sorry, no results!</p>
        </div>
    </div>
</template>

<script lang="ts">
    import Vue from "vue";
    import Component from "vue-class-component";
    import SearchResult from "./searchresult.vue";
    import { Prop } from "vue-property-decorator";
    import { IAuthService } from "@app/services/auth.service";
    import Container from "typedi";
    import { ISearchResult } from "@store/modules/clients";

    @Component({ components: { SearchResult } })
    export default class SearchResults extends Vue {
        /**
         * Props
         **/
        @Prop({ default: false }) wait: boolean;

        /**
         * Data
         **/
        public canAnalytics = false;
        public canShare = false;
        public canTag = false;

        /**
         * Computed Properties
         **/

        private get results(): ISearchResult[] {
            return this.$store.state.clients.searchResults;
        }

        /**
         * Methods
         **/
        private mounted(): void {
            const authService: IAuthService = Container.get("AuthService");
            this.canAnalytics = authService.hasPermission("analytics", "view");
            this.canShare = authService.hasPermission("script", "share");
            this.canTag = authService.hasPermission("script", "view");
        }
    }
</script>

<style lang="scss" scoped>
    .search-wait,
    .search-empty {
        text-align: center;
    }
</style>
