<template>
    <div
        class="search-result"
        :class="{
            'search-result--onpage': onPage,
            'search-result--clientmatch': clientMatch,
            'search-result--script': script,
            'search-result--live': campaignIsLive && !script,
        }"
    >
        <div
            v-if="!campaign.id && result.client.logo_url"
            class="search-result__img"
            :style="{ backgroundImage: 'url(' + result.client.logo_url + ')' }"
        ></div>
        <avatar
            v-else-if="!campaign.id && result.client.id && !result.client.logo_url"
            slot="avatar"
            :name="result.client.client"
            no-tooltip
            size="32"
            class="search-result__img"
        />
        <v-tooltip v-else left :disabled="!onPage">
            <template v-slot:activator="{ on }">
                <div
                    class="search-result__icon"
                    :class="{ 'search-result__icon--live': campaignIsLive && !script }"
                    v-on="on"
                >
                    <i :class="resultIconClass"></i>
                </div>
            </template>
            <span>{{ campaign ? "Result is from this campaign" : "Result is from this client" }}</span>
        </v-tooltip>
        <div class="search-result__text">
            <div>
                <!-- eslint-disable vue/no-v-html -->
                <router-link v-if="result.client.id" :to="toClient" v-html="clientName" />
                <i v-if="campaign && campaign.id" class="fa fa-chevron-right grey--text mx-1"></i>
                <router-link v-if="campaign && campaign.id" :to="toCampaign" v-html="campaignName" />
                <router-link v-else-if="campaign && campaign.id === 0" to="/clients">My Workspace</router-link>
                <i v-if="script" class="fa fa-chevron-right grey--text mx-1"></i>
                <router-link v-if="script" class="search-result__text-script" :to="toScript">
                    <version-number v-if="script.version" :version="script.version" bottom />
                    <span v-html="scriptName"></span>
                </router-link>
                <!-- eslint-enable vue/no-v-html -->
            </div>
            <router-link v-if="script" :to="toScript"></router-link>
            <router-link v-else-if="campaign && campaign.id" :to="toCampaign"></router-link>
            <router-link v-else-if="result.client.id" :to="toClient"></router-link>
        </div>
        <script-actions
            v-if="script"
            :script-id="script.id"
            :campaign-id="campaign.id"
            :can-share="canShare"
            :can-tag="false"
            :can-analytics="false"
            :show-edit="false"
            :show-delete="false"
            :basic="!result.client.id"
            slide-actions
            @copiedsharelink="copyShareLink"
            @copiedtag="copyTag"
            @play="playScript"
        />
        <script-actions
            v-else-if="campaign"
            :campaign-id="campaign.id"
            :can-analytics="canAnalytics"
            :camp-live="campaignIsLive"
            :camp-complete="campaignIsComplete"
            :show-edit="false"
            :show-delete="false"
        />
    </div>
</template>

<script lang="ts">
    import Component, { mixins } from "vue-class-component";
    import { Prop } from "vue-property-decorator";
    import { Location as RouteLocation } from "vue-router";
    import { CLIENT_ROUTE_NAMES, ClientRouteParams } from "@app/components/clients/new/routes";
    import { ISearchResult, ISearchResultCampaign, ISearchResultScript } from "@store/modules/clients";
    import { PublicationState } from "amads-common/models/script";
    import ScriptActions from "@app/components/clients/scriptactions/scriptactions.vue";
    import { RouteParamsMixin } from "../mixins/RouteParamsMixin";
    import { campaignIsLive, campaignIsComplete } from "@store/helpers";
    import Avatar from "../avatar.vue";
    import VersionNumber from "../version-number.vue";

    @Component({ components: { ScriptActions, Avatar, VersionNumber } })
    export default class SearchResult extends mixins<RouteParamsMixin<ClientRouteParams<string>>>(RouteParamsMixin) {
        /**
         * Props
         **/
        @Prop({ default: null }) result: ISearchResult;
        @Prop({ default: false }) canAnalytics: boolean;
        @Prop({ default: false }) canShare: boolean;
        @Prop({ default: false }) canTag: boolean;
        /**
         * Data
         **/

        /**
         * Computed Properties
         **/

        private get onPage(): boolean {
            return (
                this.clientMatch && (!this.campaign || this.routeParams.campaignId === this.campaign?.id?.toString())
            );
        }

        private get clientMatch(): boolean {
            return this.routeParams.clientId === this.result.client.id?.toString();
        }

        private get clientName(): string {
            return this.highlightSearchTerm(this.result.client.client);
        }

        private get campaign(): ISearchResultCampaign {
            return this.result.client.campaign;
        }

        private get campaignName(): string {
            return this.highlightSearchTerm(this.campaign?.campaign);
        }

        private get script(): ISearchResultScript {
            return this.result.client.campaign?.script;
        }

        private get scriptName(): string {
            return this.highlightSearchTerm(this.script?.scriptname);
        }

        private get isPublished(): boolean {
            return this.script?.publication?.state === PublicationState.ready;
        }

        private get campaignIsLive(): boolean {
            const campaign = Object.assign({}, this.campaign, {
                id: this.campaign?.id?.toString(),
                usergroup_id: null,
                description: null,
                client: null,
                billing_entity_id: null,
            });
            return campaignIsLive(campaign);
        }

        private get campaignIsComplete(): boolean {
            const campaign = Object.assign({}, this.campaign, {
                id: this.campaign?.id?.toString(),
                usergroup_id: null,
                description: null,
                client: null,
                billing_entity_id: null,
            });
            return campaignIsComplete(campaign);
        }

        public get toScript(): RouteLocation {
            return {
                name: "script",
                params: {
                    scriptid: this.script?.id?.toString(),
                },
            };
        }

        public get toCampaign(): RouteLocation {
            return {
                name: CLIENT_ROUTE_NAMES.SCRIPTS_LIST,
                params: {
                    clientId: this.result.client.id?.toString(),
                    campaignId: this.campaign?.id?.toString(),
                } as ClientRouteParams<string>,
                query: {
                    s: "true",
                },
            };
        }

        public get toClient(): RouteLocation {
            return {
                name: CLIENT_ROUTE_NAMES.CAMPAIGNS_LIST,
                params: {
                    clientId: this.result.client.id?.toString(),
                    campaignId: null,
                } as ClientRouteParams<string>,
                query: {
                    s: "true",
                },
            };
        }

        public get resultIconClass(): string {
            if (this.script) {
                // result is a script
                return "fa fa-align-left";
            } else if (this.campaign) {
                // result is a campaign
                return "fa fa-bullhorn";
            } else {
                // result is a client
                return "fa fa-building-o";
            }
        }

        /**
         * Methods
         **/

        public highlightSearchTerm(string: string): string {
            if (string) {
                if (this.$store.state.clients.searchTerm) {
                    const esc = this.$store.state.clients.searchTerm.replace(/[-/\\^$*+?.()|[\]{}]/g, "\\$&");
                    const reg = new RegExp(esc, "ig");
                    return string.replace(reg, "<span class='search-result__highlight pink white--text'>$&</span>"); // replace string with highlight, retaining original case
                } else {
                    return string;
                }
            }
        }

        public playScript(): void {
            const payload = {
                type: "script",
                uid: this.script.uid,
                title: this.script.scriptname + (this.script.version ? ` v${this.script.version}` : ""),
                id: this.script.id,
                clientName: this.result.client.client,
                clientId: this.result.client.id,
                campaignName: this.campaign.campaign,
                campaignId: this.campaign.id,
            };
            this.$store.dispatch("mediaplayer/playScript", payload);
        }

        public copyShareLink(): void {
            this.$emit("copysharelink", this.script.id);
        }

        public copyTag(): void {
            this.$emit("copytag", this.script.id);
        }
    }
</script>

<style lang="scss" scoped>
    .search-result {
        height: 42px;
        display: flex;
        background-color: white;
        border: 1px solid $light-grey-2;
        border-radius: $border-radius;
        transition: 0.2s border-color;
        overflow: hidden; // for script actions
        text-overflow: ellipsis;
        white-space: nowrap;
        position: relative;
        &:hover {
            border-color: $light-grey-1;
            &.search-result--live {
                border-color: $green;
                .search-result__icon {
                    color: $dark-green-1;
                    background-color: $light-green-4;
                }
            }
            .search-result__icon {
                background-color: $light-grey-3;
                &--live {
                    color: $dark-green-1;
                    background-color: $light-green-4;
                }
            }
            .script-actions {
                right: 0;
            }
            a {
                &:not(:last-of-type) {
                    opacity: 0.8;
                }
            }
        }
        &--onpage,
        &--clientmatch {
            border-color: $grey;
        }
        &--onpage {
            a {
                &:not(.search-result__text-script) {
                    // not script title
                    opacity: 1 !important;
                    font-weight: 500;
                }
            }
        }
        &--clientmatch {
            a {
                &:first-of-type {
                    // client name
                    opacity: 1 !important;
                    font-weight: 500;
                }
            }
        }
        &--script {
            padding-right: 160px;
            .search-result__text {
                & > a {
                    margin-right: -174px;
                }
                /deep/ .vn-bubble {
                    margin-right: 2px;
                }
            }
        }
        &__icon {
            width: 42px;
            color: $dark-grey-2;
            background-color: $light-grey-4;
            text-align: center;
            transition: 0.2s;
            &--live {
                color: $green;
                background-color: $light-green-5;
            }
        }
        &__img {
            width: 38px;
            height: 40px;
            margin: 0 2px;
            padding: 3px 2px !important;
            background-size: contain;
            background-position: center;
        }
        &__text {
            display: flex;
            flex: 1;
            & > a {
                // use space in search result to link to item
                flex: 1;
                margin: -14px -14px -14px 0;
            }
            /deep/ .search-result__highlight {
                border-radius: 4px;
                padding: 0px 3px;
                margin-right: 1px;
            }
        }
        .script-actions {
            right: -150px;
        }
        & > div {
            padding: 11px 14px;
        }
        a {
            color: $dark-grey-3;
            transition: 0.2s;
            &:not(:last-of-type) {
                opacity: 0.5;
            }
            &:hover {
                opacity: 1 !important;
                text-decoration: underline;
                /deep/ .search-result__highlight {
                    text-decoration: underline;
                }
            }
            &.router-link-exact-active {
                &:hover {
                    text-decoration: none;
                }
            }
        }
    }
</style>
