;
.datetime__text-input {
    max-width: 290px;
}
.v-card__actions {
    display: block;
    padding-bottom: 14px;
}
.datetime__time {
    font-size: 2em;
    padding-left: 20px;
    padding-right: 10px;
    div.v-input__slot {
        &:after {
            background-color: transparent !important;
        }
        &:before {
            background-color: transparent !important;
            height: unset !important;
        }
    }
}

@media screen and (max-height:850px) {
    .date-picker--dropdown {
        margin-left: -50px;
    }
}
