/**
**
**  Colours
**
**/

// Brand Colours
$amads-purple: #d04d8f;
$amads-pink: #e93785;
$amads-orange: #f79a51;
$amads-yellow: #fcd53f;
$amads-teal: #5dc4c5;

// UI colours in use

// red
$red: color("red", "base");
$light-red-1: color("red", "lighten-1");
$light-red-2: color("red", "lighten-2");
$light-red-5: color("red", "lighten-5");
$dark-red-1: color("red", "darken-1");
$dark-red-2: color("red", "darken-2");

// pink
$pink: color("pink", "base");
$light-pink-1: color("pink", "lighten-1");
$light-pink-2: color("pink", "lighten-2");
$light-pink-3: color("pink", "lighten-3");
$light-pink-4: color("pink", "lighten-4");
$light-pink-5: color("pink", "lighten-5");
$dark-pink-1: color("pink", "darken-1");
$dark-pink-2: color("pink", "darken-2");

//purple
$purple: color("purple", "base");
$light-purple-2: color("purple", "lighten-2");
$light-purple-3: color("purple", "lighten-3");
$light-purple-4: color("purple", "lighten-4");

// blue
$blue: color("blue", "base");
$light-blue-1: color("blue", "lighten-1");
$light-blue-2: color("blue", "lighten-2");
$dark-blue-1: color("blue", "darken-1");
$dark-blue-2: color("blue", "darken-2");
$dark-blue-3: color("blue", "darken-3");

// light-blue
$lightblue: color("light-blue", "base");
$light-lightblue-1: color("light-blue", "lighten-1");
$light-lightblue-2: color("light-blue", "lighten-2");
$light-lightblue-3: color("light-blue", "lighten-3");
$light-lightblue-4: color("light-blue", "lighten-4");
$light-lightblue-5: color("light-blue", "lighten-5");
$dark-lightblue-1: color("light-blue", "darken-1");
$dark-lightblue-2: color("light-blue", "darken-2");

// cyan
$cyan: color("cyan", "base");
$light-cyan-1: color("cyan", "lighten-1");
$light-cyan-4: color("cyan", "lighten-4");
$light-cyan-5: color("cyan", "lighten-5");
$dark-cyan-1: color("cyan", "darken-1");
$dark-cyan-2: color("cyan", "darken-2");
$dark-cyan-3: color("cyan", "darken-3");

// black & white
$white: #ffffff;
$dark-white: #e0e0e0;
$black: #000;

// grey
$grey: color("grey", "base");
$dark-grey-1: color("grey", "darken-1");
$dark-grey-2: color("grey", "darken-2");
$dark-grey-3: color("grey", "darken-3");
$dark-grey-4: color("grey", "darken-4");
$light-grey-1: color("grey", "lighten-1");
$light-grey-2: color("grey", "lighten-2");
$light-grey-3: color("grey", "lighten-3");
$light-grey-4: color("grey", "lighten-4");
$light-grey-5: color("grey", "lighten-5");

// bluegrey
$light-bluegrey-1: color("blue-grey", "lighten-1");
$light-bluegrey-2: color("blue-grey", "lighten-2");

// amber
$amber: color("amber", "base");
$dark-amber-1: color("amber", "darken-1");
$dark-amber-2: color("amber", "darken-2");
$light-amber-2: color("amber", "lighten-2");
$light-amber-5: color("amber", "lighten-5");

// orange
$orange: color("orange", "base");
$dark-orange-1: color("orange", "darken-1");
$light-orange-3: color("deep-orange", "lighten-3");
$light-orange-4: color("deep-orange", "lighten-4");

// green
$green: color("green", "base");
$light-green-1: color("green", "lighten-1");
$light-green-2: color("green", "lighten-2");
$light-green-3: color("green", "lighten-3");
$light-green-4: color("green", "lighten-4");
$light-green-5: color("green", "lighten-5");
$dark-green-1: color("green", "darken-1");
$dark-green-2: color("green", "darken-2");

// transparent shades
$transparent: rgba($black, 0);

$black-transparent-13: rgba($black, 0.87);
$black-transparent-15: rgba($black, 0.85);
$black-transparent-20: rgba($black, 0.8);
$black-transparent-50: rgba($black, 0.5);
$black-transparent-60: rgba($black, 0.4);
$black-transparent-65: rgba($black, 0.35);
$black-transparent-68: rgba($black, 0.32);
$black-transparent-70: rgba($black, 0.3);
$black-transparent-75: rgba($black, 0.25);
$black-transparent-80: rgba($black, 0.2);
$black-transparent-82: rgba($black, 0.18);
$black-transparent-84: rgba($black, 0.16);
$black-transparent-85: rgba($black, 0.15);
$black-transparent-86: rgba($black, 0.14);
$black-transparent-88: rgba($black, 0.12);
$black-transparent-90: rgba($black, 0.1);
$black-transparent-94: rgba($black, 0.06);
$black-transparent-95: rgba($black, 0.05);
$black-transparent-96: rgba($black, 0.04);

$grey-transparent-10: rgba($grey, 0.9);
$dark-grey-transparent: rgba($dark-grey-2, 0.3);
$light-grey-transparent-10: rgba($light-grey-2, 0.9);
$light-grey-transparent-70: rgba($light-grey-2, 0.3);

$white-transparent-10: rgba($white, 0.9);
$white-transparent-30: rgba($white, 0.7);
$white-transparent-40: rgba($white, 0.6);
$white-transparent-70: rgba($white, 0.3);
$white-transparent-80: rgba($white, 0.2);

/**
**
** Element colours
**
**/

// user feedback
$success: $green;
$attention-high: $red;
$attention-medium: $dark-amber-1;

$nav-text-color: $light-grey-3;
$page-background-color: $light-grey-5;

$nav-background-color: $light-bluegrey-2;
$breadcrumb-color: $light-grey-3;

$slide-menu-background-color: $white;
$slide-menu-color: $dark-grey-2;

// $amads-logo-color: color("light-blue", "darken-1");
$card-accent-color: $pink;
$nav-header-color: $light-bluegrey-2;
$nav-header-border-color: $light-bluegrey-1;
$nav-header-text-color: $white;
$table-header-color: $light-grey-1;
$table-color: $grey;

$body-color: $dark-grey-3;
$bg-2: $light-grey-2;

// script builder element colors
$element-color: color("cyan", "darken-1");
$element-color-light: color("cyan", "lighten-4");
$element-color-lightest: color("cyan", "lighten-5");
$element-color-dark: color("cyan", "darken-2");
$element-color-darkest: color("cyan", "darken-3");

$longlist-color: color("cyan", "darken-1");
$longlist-color-light: color("cyan", "lighten-4");
$longlist-color-lightest: color("cyan", "lighten-5");
$longlist-color-dark: color("cyan", "darken-2");
$longlist-color-darkest: color("cyan", "darken-3");


$bed-color: color("blue", "darken-1");
$bed-color-light: color("blue", "lighten-4");
$bed-color-lightest: color("blue", "lighten-5");
$bed-color-dark: color("blue", "darken-2");
$bed-color-darkest: color("blue", "darken-3");

$direction-color: color("amber", "darken-1");
$direction-color-light: color("amber", "lighten-4");
$direction-color-lightest: color("amber", "lighten-5");
$direction-color-dark: color("amber", "darken-2");
$direction-color-darkest: color("amber", "darken-3");

$annotation-color: color("deep-orange", "darken-1");
$annotation-color-light: color("deep-orange", "lighten-4");
$annotation-color-lightest: color("deep-orange", "lighten-5");
$annotation-color-dark: color("deep-orange", "darken-2");
$annotation-color-darkest: color("deep-orange", "darken-3");

$sfx-color: color("purple", "base");
$sfx-color-light: color("purple", "lighten-4");
$sfx-color-lightest: color("purple", "lighten-5");
$sfx-color-dark: color("purple", "darken-2");
$sfx-color-darkest: color("purple", "darken-3");

/**
**
** Sizings
**
**/

// radius
$border-radius: 6px;

// font sizes
$font-size-body: 14px;
$font-size-body-2: 12px;
$font-size-headline-3: 18px;

// Element Types
$elementTypes: "element", "bed", "sfx", "annotation", "direction", "longlist", "branch";
$elementMap: (
    element: $element-color,
    bed: $bed-color,
    sfx: $sfx-color,
    annotation: $annotation-color,
    direction: $direction-color,
    longlist: $element-color,
    branch: $lightblue,
);

.scroller {
    &::-webkit-scrollbar {
        width: 4px;
        height: 4px;
    }
    &::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }
    &::-webkit-scrollbar-button {
        width: 0px;
        height: 0px;
    }
    &::-webkit-scrollbar-thumb {
        background: $black-transparent-70;
        border: 0px none #ffffff;
        border-radius: 0px;
    }
    &::-webkit-scrollbar-thumb:hover {
        background: $black-transparent-60;
    }
    &::-webkit-scrollbar-thumb:active {
        background: $black-transparent-60;
    }
    &::-webkit-scrollbar-track {
        background: $black-transparent-90;
        border: 0px none #ffffff;
        border-radius: 0px;
    }
    &::-webkit-scrollbar-track:hover {
        background: $black-transparent-80;
    }
    &::-webkit-scrollbar-track:active {
        background: $black-transparent-80;
    }
    &::-webkit-scrollbar-corner {
        background: transparent;
    }
}

@mixin amads-button {
    max-height: 24px;
    text-transform: none;
    border-color: color("grey", "darken-1");
    border-radius: $border-radius;
    line-height: 24px;
    cursor: pointer;

    i {
        margin-right: 4px;
    }
}

@mixin version-number {
    display: inline-block;
    background-color: $light-grey-2;
    padding: 1px 5px;
    min-width: 28px;
    margin-bottom: 2px;
    border-radius: $border-radius;
    text-align: center;
    transition: 0.2s background-color;
}

@mixin box-message {
    border-radius: $border-radius;
    padding: 8px 12px 7px 10px;
    display: flex !important;
}
