.drop-enter-active, .drop-leave-active,
.slide-up-enter-active, .slide-up-leave-active {
  transition-property: opacity, transform !important;
  transition-duration: .5s !important;
  transition-delay: 0s !important;
  transition-timing-function: ease-out !important;
}

.drop-leave, .drop-enter-to,
.slide-up-leave, .slide-up-enter-to {
  transform: translate3d(0);
  opacity: 1;
}

.drop-enter, .drop-leave-to {
  transform: translate3d(0, 50px, 0);
  opacity: 0;
}

.slide-up-enter, .slide-up-leave-to {
  transform: translate3d(0, -100px, 0);
  opacity: 0;
}
