//
// Buttons and inputs
//
.application
    .theme--light.input-group:not(.input-group--error)
    .input-group__details:before,
.theme--light
    .input-group:not(.input-group--error)
    .input-group__details:before {
    background-color: #f5f5f5 !important;
}
.application .theme--light.v-text-field .v-input__slot:before,
.theme--light .v-text-field .v-input__slot:before {
    background-color: #f5f5f5 !important;
}
.theme--light .login-card .btn {
    color: #fff !important;
}
input[type="text"][readonly="readonly"] {
    color: #29b6f6 !important;
}
.input-group__details:after {
    height: 1px !important;
}
input[type="text"][readonly="readonly"] {
    border-bottom: none !important;
}
.v-text-field {
    padding-top: 0px;
}
@mixin vuetify-form-inputs {
    .checkbox.v-input--checkbox {
        flex: 0 0 auto;
    }

    .text-field {
        & ::v-deep .v-input__slot:before,
        & ::v-deep .v-input__slot:after {
            border: none;
        }
    }

    .text-area,
    .select {
        & ::v-deep .v-input__slot:before {
            border-color: $black-transparent-60 !important;
        }
    }

    .select {
        & ::v-deep input[type="text"][readonly="readonly"] {
            border: none;
        }
    }

    .text-field,
    .select {
        & ::v-deep input[type="text"] {
            margin: 0;
        }
    }

    .text-area {
        & ::v-deep textarea {
            height: auto;
        }
    }

    .v-input--radio-group .v-input__control .v-input__slot .v-radio {
        display: flex !important;
    }
}
//
// Date picker angular css overrides
//
.v-picker {
    .v-card__actions .v-btn + .v-btn {
        margin-left: 0px;
    }
    .v-picker__title,
    .accent {
        background-color: #29b6f6 !important;
    }
    .v-picker__actions {
        .v-btn {
            color: #29b6f6;
            background-color: transparent;
        }
    }
    overflow: initial !important;
}
.dialog__activator input[type="text"] {
    margin: 0px;
}
.v-input.v-text-field {
    margin-top: 0px;
}
.v-card__actions {
    justify-content: space-between;
}
.theme--light .v-btn {
    color: inherit;
}
.v-date-picker-table {
    height: 210px;
    td,
    th {
        padding: initial;
        display: table-cell;
        text-align: center;
        vertical-align: initial;
        border-radius: initial;
    }
}
.v-input--selection-controls__ripple {
    cursor: pointer;
    height: 38px;
    position: absolute;
    transition: inherit;
    width: 38px;
    left: -11px;
    top: calc(50% - 18px);
}
.v-text-field .v-input__slot:after {
    height: 1px;
    transition: none;
    border: 0 !important;
}
.application .theme--light.v-text-field .v-input__slot:before,
.theme--light .v-text-field .v-input__slot:before {
    border-color: #f5f5f5 !important;
}
//
// Tooltip overrides
//
.backdrop {
    background-color: $transparent !important;
}
.material-tooltip {
    padding: 7px 7px !important;
    font-size: 0.8rem !important;
    background-color: color("grey", "base") !important;
    min-height: 0 !important;
    line-height: 100% !important;
}

.picker {
    position: fixed;
}
