/* ==========================================================================
   Materialize variables
   - AMADS custom variables for materialize
   ========================================================================== */
/**
 * Table of Contents:
 *
 *  1. Colors
 *  2. Badges
 *  3. Buttons
 *  4. Cards
 *  5. Collapsible
 *  6. Chips
 *  7. Date Picker
 *  8. Dropdown
 *  10. Forms
 *  11. Global
 *  12. Grid
 *  13. Navigation Bar
 *  14. Side Navigation
 *  15. Photo Slider
 *  16. Spinners | Loaders
 *  17. Tabs
 *  18. Tables
 *  19. Toasts
 *  20. Typography
 *  21. Footer
 *  22. Flow Text
 *  23. Collections
 *  24. Progress Bar
 */

/* 1. Colors
   ========================================================================== */

$primary-color: color("light-blue", "lighten-1") !default;
$secondary-color: color("light-blue", "lighten-1") !default;

/* 2. Badges
   ========================================================================== */

/* 3. Buttons
   ========================================================================== */

// Floating buttons
$button-floating-size: 37px !default;
$button-floating-large-size: $button-floating-size * 1.5 !default;

/* 4. Cards
   ========================================================================== */

$card-padding: 20px !default;

/* 6. Chips
   ========================================================================== */

/* 7. Date Picker
   ========================================================================== */

/* 8. Dropdown
   ========================================================================== */

/* 9. Fonts
   ========================================================================== */

/* 10. Forms
   ========================================================================== */

// Text Inputs + Textarea
$input-margin: 0 0 15px 0 !default;

/* 11. Global
   ========================================================================== */

// Media Query Ranges
$small-screen-up: 1201px !default;
$medium-screen-up: 1601px !default;
$large-screen-up: 1901px !default;
$small-screen: 1200px !default;
$medium-screen: 1600px !default;
$large-screen: 1900px !default;

/* 12. Grid
   ========================================================================== */

/* 13. Navigation Bar
   ========================================================================== */

/* 14. Side Navigation
   ========================================================================== */

$sidenav-font-color: #444 !default;
$sidenav-padding-right: 30px !default;
$sidenav-item-height: 64px !default;

/* 15. Photo Slider
   ========================================================================== */

/* 16. Spinners | Loaders
   ========================================================================== */

/* 17. Tabs
   ========================================================================== */

/* 18. Tables
   ========================================================================== */

/* 19. Toasts
   ========================================================================== */

/* 20. Typography
   ========================================================================== */

/* 21. Footer
   ========================================================================== */

/* 22. Flow Text
   ========================================================================== */

/* 23. Collections
   ========================================================================== */

/* 24. Progress Bar
   ========================================================================== */
