
// Vuetify overrides

// remove default shadows on button groups

.v-btn-toggle, .v-btn-toggle--selected {
    box-shadow: none;
}

// Import Materialize styles
@import "materialize";

// amads components
@import "./components/c-select-group";
@import "../components/demo/demo";
@import "../components/auth/login/login";
@import "../components/main/main";
// @import "../components/dashboard/dashboard";
@import "components/panel";
@import "../components/mediaplayer/mediaplayer";
@import "../components/mediaplayer/mediaplayer-bottom";
@import "../components/mediaplayer/mediaplayer-sidemenu";
@import "../components/mediaplayer/keyframes/keyframes";
@import "../components/analytics/analytics";
@import "../components/share/share";
@import "../components/auth/setpassword/setpassword";
@import "./materialise_overrides";
@import "./components/components";
@import "views/views";

// global animation styles
@import "animations";

// global styling
* {
    &::-webkit-scrollbar {
        width: 10px;
        height: 10px;
    }

    &::-webkit-scrollbar-button {
        width: 0px;
        height: 0px;
    }

    &::-webkit-scrollbar-thumb {
        background: $black-transparent-70;
        border: 0px none $white;
        border-radius: 0px;
    }

    &::-webkit-scrollbar-thumb:hover {
        background: $black-transparent-60;
    }

    &::-webkit-scrollbar-thumb:active {
        background: $black-transparent-60;
    }

    &::-webkit-scrollbar-track {
        background: $black-transparent-90;
        border: 0px none $white;
        border-radius: 0px;
    }

    &::-webkit-scrollbar-track:hover {
        background: $black-transparent-80;
    }

    &::-webkit-scrollbar-track:active {
        background: $black-transparent-80;
    }

    &::-webkit-scrollbar-corner {
        background: transparent;
    }
}

html {
    background-color: $page-background-color;
    line-height: 1.3;
}

html {
    overflow: auto !important;
}

body {
    transition: margin 0.25s ease;
    min-width: 600px;
    margin-left: 78px;
}

.nowrap {
    white-space: nowrap;
}

.inline {
    display: inline-block;
}

.chip-icon {
    float: left;
    margin: 0 7px 0 -12px;
}

.row-nopad {
    margin-bottom: 0px !important;
    margin-left: auto;
    margin-right: auto;
}

.col-nopad {
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.collection .collection-item.avatar i.circle > i {
    font-size: 25px;
    line-height: 2px;
    color: $light-grey-2;
}

.accent-text {
    color: $card-accent-color;
}

a {
    transition: color 0.25s ease;

    &:hover {
        color: $dark-lightblue-2;
    }
}

nav {
    background: url("~../assets/images/amads-background.svg") no-repeat left
        center fixed;
    background-size: cover;

    background-color: $nav-background-color;
    color: $nav-text-color;
    border-top-color: $black-transparent-90;
    border-top-style: solid;
    border-top-width: 13px;
    line-height: 1em !important;

    a {
        color: $nav-text-color;
    }

    i {
        height: 16px;
    }
}

.tabs {
    background-color: $transparent;
    overflow-x: hidden;
}

.tab.disabled {
    filter: grayscale(100%);
}

.tab-chip {
    @extend .chip;
    position: relative;
    top: -1px;
    height: 25px;
    line-height: 25px;
    padding: 0 8px;
}

.input-field .prefix {
    margin-top: 8px;
}

.slow-spin {
    -webkit-animation: fa-spin 6s infinite linear;
    animation: fa-spin 6s infinite linear;
}

.smaller {
    transform: scale(0.8);
    transform-origin: top;
}

//.header-nav {
//  background-color: $nav-header-color;
//  color: $nav-header-text-color;
//  margin-left: -20px;
//  margin-right: -20px;
//  padding-left: 20px;
//  padding-right: 20px;
//  height: 70px;
//  font-size: 21px;
//  line-height: 50px;
//  border-top-color: $nav-header-border-color;
//  border-top-style: solid;
//  border-top-width: 16px;
//  a {
//    color: $white;
//  }
//}
//
//.header-nav__fab {
//  position: relative;
//  top: 27px;
//  margin-left: 0.75rem;
//}
//
//.table-row {
//  //padding-top: 5px !important;
//  //padding-bottom: 0 !important;
//  //padding-left: 20px !important;
//  margin-top: 0px;
//  margin-bottom: 0px;
//  height: 42px;
//  cursor: pointer;
//  transition: background-color .25s ease;
//  img {
//    width: 37px;
//  }
//}
//
//.table-row:hover {
//  background-color: $black-transparent-95;
//}
//
//.table-row____header {
//  padding-top: 25px;
//  div {
//    border-bottom-style: solid;
//    border-bottom-width: 1px;
//    border-color: $table-header-color;
//    color: $table-header-color;
//    padding-top: 0 !important;
//    padding-bottom: 10px !important;
//  }
//}
//
//.candy-card {
//
//}
//
//.candy-card__wrapper {
//  width: 300px;
//  display: inline-block;
//  margin: 10px 10px 10px 10px;
//}
//
//.candy-card__img {
//  height: 150px;
//  text-align: center;
//  img {
//    max-height: 140px;
//    min-width: 140px;
//  }
//}
//
//.candy-card__fixed-bottom {
//  position: fixed;
//  bottom: 20px;
//}

.modal.bottom-sheet {
    max-height: 100%;
}

.modal {
    border-top: solid $light-lightblue-1 6px;
    max-height: 80%;
    overflow-y: auto !important;
}

//mc-messages {
//    position: fixed;
//    bottom: 10px;
//    right: 20px;
//    width: 20%;
//    z-index: 300;
//    max-height: 100px;
//    overflow: hidden;
//}
//mc-messages .alert {
//    margin: 0 0 1px 0;
//    padding: 2px 2px 2px 2px;
//    font-size: 8pt;
//}

.list__header {
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
    padding: 10px 0 4px 0;
}

.list__header-icon {
    width: 42px;
    max-height: 42px;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
}

.list__header-icon__nowidth {
    max-height: 32px;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
}

.list__filter {
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
    margin-top: 10px;
    margin-bottom: 10px;

    a {
        color: $light-grey-1;
    }
}

.list__filter-search {
    max-width: 200px;
}

.list__container {
    margin-left: auto;
    margin-right: auto;
    max-width: 1024px;
}

.list__group {
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 1px;
    margin-bottom: 15px;
    background-color: $light-grey-4;
}

.list__collection {
    margin: 0.5rem 0 1rem 0;
    border: 1px solid $light-grey-2;
    border-radius: 2px;
    position: relative;
}

.list__item {
    min-height: 55px;
    position: relative;
    background-color: $white;
    color: $dark-grey-2;
    line-height: 1.5rem;
    padding: 7px 10px 10px 7px;
    margin: 0;
    border-bottom: 1px solid $light-grey-2;
    transition: box-shadow 0.25s ease, height 0.25s 0.25s ease,
        margin 0.25s ease, padding 0.25s, display 0.25s ease;

    hr {
        margin-left: -10px;
        margin-right: -10px;
        border-color: $light-grey-3;
        border-style: solid;
        border-width: 1px 0 0 0;
    }
}

.list__item____icon {
    padding: 7px 10px 10px 10px;
}

.list__item-subsection {
    border-bottom: solid 1px $light-grey-3;
    margin-bottom: 5px;
    padding-bottom: 5px;
}

.list__item__selected {
    margin-top: 10px;
    margin-right: -25px;
    margin-left: -25px;
    margin-bottom: 20px;
    padding-top: 10px;
    border-radius: 2px;
    min-height: 150px;
    @extend .z-depth-1;
}

.list__title {
    font-size: 16px;
    color: $card-accent-color;
}

.list__icon {
    position: absolute;
    width: 42px;
    max-height: 42px;
    overflow: hidden;
    left: 18px;
    display: inline-block;
    vertical-align: middle;
}

.list__noicon {
    font-size: 18px;
    line-height: 37px;
    padding-left: 1px;
    color: $white;
    background-color: $grey;
    text-align: center;
    position: absolute;
    width: 42px;
    height: 42px;
    overflow: hidden;
    left: 15px;
    display: inline-block;
    vertical-align: middle;
    font-family: "Material Icons";
}

.mini-cal {
    width: 42px;
    margin-bottom: 4px;
    text-align: center;
    color: $white;
    display: inline-block;

    & > .cal-year {
        background: $dark-lightblue-1;
        font-size: 9px;
        line-height: 11px;
        padding-bottom: 2px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-color: $dark-lightblue-1;
        border-width: 1px;
        border-top-style: solid;
        border-left-style: solid;
        border-right-style: solid;
    }

    // & > .cal-month {
    //   background: $light-lightblue-1;
    //   font-size: 12px;
    //   padding-bottom: 3px;
    //   line-height: 13px;
    //   border-color: $light-lightblue-1;
    //   border-width: 1px;
    //   border-top-style: solid;
    //   border-left-style: solid;
    //   border-right-style: solid;
    // }
    & > .cal-day {
        background: $light-lightblue-1;
        font-size: 17px;
        line-height: 20px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-color: $light-lightblue-1;
        border-width: 1px;
        border-bottom-style: solid;
        border-left-style: solid;
        border-right-style: solid;

        .cal-month {
            display: block;
            font-size: 12px;
            line-height: 15px;
        }

        .day-value {
            display: block;
            padding-bottom: 2px;
            line-height: 15px;
        }
    }
}

.subtitle {
    font-size: 0.9rem;
    color: $grey;
}

.micro-cal {
    width: 42px;
    text-align: center;
    color: $dark-grey-2;
    display: inline-block;

    & > .cal-year {
        background: $light-grey-1;
        color: $dark-grey-3;
        font-size: 10px;
        line-height: 14px;
        border-top-left-radius: 5px;
        border-top-right-radius: 5px;
        border-color: $light-grey-1;
        border-width: 1px;
        border-top-style: solid;
        border-left-style: solid;
        border-right-style: solid;
    }

    & > .cal-day {
        background: $light-grey-2;
        font-size: 17px;
        line-height: 20px;
        border-bottom-left-radius: 5px;
        border-bottom-right-radius: 5px;
        border-color: $light-grey-2;
        border-width: 1px;
        border-bottom-style: solid;
        border-left-style: solid;
        border-right-style: solid;

        .cal-month {
            display: block;
            font-size: 12px;
            line-height: 15px;
        }

        .day-value {
            display: block;
            padding-bottom: 2px;
            line-height: 15px;
            font-weight: 400;
            color: $dark-grey-1;
        }
    }
}

.mini-cal____inactive {
    & > .cal-year {
        font-size: 12px;
        background-color: $light-lightblue-3;
        border-color: $light-lightblue-3;
    }

    & > .cal-day {
        font-size: 10px;
        padding-bottom: 1px;
        line-height: 14px;
        background-color: $light-lightblue-4;
        border-color: $light-lightblue-4;

        .cal-month {
            line-height: 17px;
        }

        .day-value {
            line-height: 11px;
        }
    }
}

//
//.btn-small {
//  @extend .btn-floating;
//  width: 24px;
//  height: 24px;
//  box-shadow: none;
//  &:hover {
//    background-color: $button-raised-background-hover;
//    @extend .z-depth-1;
//  }
//  i {
//    line-height: 24px;
//  }
//}

.btn:not(.btn-floating) {
    height: 32px;
    line-height: 32px;
    padding: 0 1rem;
}

a.btn:hover {
    color: $light-lightblue-5;
}

.btn-small {
    display: inline-block;
    color: $button-floating-color;
    position: relative;
    overflow: hidden;
    z-index: 1;
    width: 24px !important;
    height: 24px !important;
    line-height: $button-floating-size !important;
    padding: 0 !important;
    background-color: $button-floating-background;
    border-radius: $button-floating-radius;
    transition: 0.3s;
    cursor: pointer;
    vertical-align: middle;
    text-align: center;

    i {
        width: inherit;
        display: inline-block;
        text-align: center;
        color: $button-floating-color;
        font-size: $button-large-icon-font-size;
        line-height: 24px;
    }

    i.material-icons {
        font-size: 18px;
        line-height: 25px;
        vertical-align: top;
    }

    &:hover {
        background-color: $button-floating-background-hover;
        @extend .z-depth-1;
    }

    &:before {
        border-radius: 0;
    }
}

.btn-small__grey {
    @extend .btn-small;
    transition: background-color 0.35s ease;
    color: $light-grey-5;
    background-color: $light-grey-2;
}

.reveal-child {
    visibility: hidden;
}

.reveal-parent:hover .reveal-child {
    visibility: visible;
}

.badge {
    min-width: 3rem;
    padding: 0 6px;
    text-align: center;
    font-size: 1rem;
    line-height: inherit;
    color: $dark-grey-1;
    position: absolute;
    right: 15px;
    box-sizing: border-box;
    white-space: nowrap;
}

.badge____small {
    font-size: 0.8em !important;
    vertical-align: top;
    border-radius: 3px;
    padding: 1px 7px;
    white-space: nowrap;
}

.dropdown-height-limit {
    ul {
        max-height: 150px !important;
    }
}

.dropdown-position-limit {
    ul {
        top: 0px !important;
    }
}

.select-dropdown {
    min-width: 110px;

    li {
        min-height: 0;

        img {
            height: 32px;
            width: 32px;
        }
    }

    li > span {
        font-size: 14px;
        line-height: 19px;
        padding: 10px 16px;
    }
}

.clickable {
    cursor: pointer;
}

.play-button {
    @extend .clickable;

    &:hover {
        color: $lightblue;
    }

    &:active {
        color: $lightblue;
    }
}

/*
    position: relative;
    left: -30px;
    margin-right: -60px;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 400px;
    box-shadow: 0 2px 5px 0 $black-transparent-84, 0 2px 10px 0 $black-transparent-88; */

.input-field label {
    font-size: 0.9rem;
    left: 0;
}

.wavesurfer-gray {
    opacity: 0.5;
}

.wavesurfer-gray canvas {
    filter: grayscale(100%);
}

.full-width {
    width: 100%;
}

[type="radio"]:not(:checked) + label,
[type="radio"]:checked + label {
    padding-left: 25px;
    padding-right: 10px;
}

[type="checkbox"]:not(:checked) + label,
[type="checkbox"]:checked + label {
    padding-left: 22px;
    padding-right: 10px;
    height: 22px;
    line-height: 22px;
}

[type="checkbox"]:not(:checked) {
    + label:before {
        width: 16px;
        height: 16px;
        top: 0px;
    }
}

[type="checkbox"]:checked {
    + label:before {
        width: 10px;
        height: 20px;
        top: -3px;
    }
}

[type="checkbox"]:indeterminate {
    + label:before {
        width: 10px;
        height: 20px;
        top: -3px;
    }
}

.fab-fa {
    font-size: 18px !important;
}

tr > td {
    color: $dark-grey-1;
}

tr > td:nth-of-type(1) {
    color: $dark-lightblue-1;
    font-weight: 500;
}

tr > th {
    font-weight: 500;
    color: $dark-grey-1;
}

.scriptselector-title {
    color: $dark-grey-1;
    font-size: 0.9em;
}

.scriptselector-content {
    margin: -15px 0 0 0;
    display: block;
    position: absolute;
    background-color: $white;
    min-width: 100px;
    // max-height: 200px;
    overflow-y: auto;
    z-index: 999;
    will-change: width, height;

    box-shadow: 0 2px 5px 0 $black-transparent-84,
        0 2px 10px 0 $black-transparent-88;

    .highlight {
        color: $dark-grey-1 !important;
    }

    max-height: 300px;

    li {
        clear: both;
        color: $black-transparent-13;
        cursor: pointer;
        min-height: 1.3em;
        width: 100%;
        text-align: left;
        text-transform: none;
        padding-left: 10px;

        &:hover {
            background: $light-grey-3;
        }

        & > span {
            font-size: 0.9em;
            color: $light-lightblue-1;
            display: block;
            line-height: 1.3em;
            padding: 10px 16px;
        }

        &.title {
            cursor: initial;
            padding-left: 0px;
            border-bottom: solid 1px $light-grey-3;

            > span {
                color: $light-grey-1;
            }

            &:hover {
                background: initial;
            }
        }
    }
}

.scriptselector-cancel {
    // position: relative;
    // bottom: 1.3em;
    // right: -3px;
    float: right;
    margin-left: 10px;
    cursor: pointer;
    color: $light-grey-2;
    transition: color 0.25s ease;

    &:hover {
        color: $light-lightblue-1;
    }
}

div#msg-container-bu {
    top: 0px;
}

div#msg-container {
    bottom: 0px;
}

div#msg-container,
div#msg-container-bu {
    position: absolute;
    height: 28px;
    width: 100%;
    color: $white;
    opacity: 0;
    text-align: center;
    padding: 5px;
    transition: opacity 1s;

    &.show-error {
        opacity: 1;
        background-color: $dark-amber-2;
    }

    &.show-success {
        opacity: 1;
        background-color: $green;
    }
}

#modal-dialog > div {
    position: relative;
}

.modal .modal-footer .btn-flat + a {
    margin-right: 2px;
}

avatar-selector {
    display: block;
    width: 80%;
    height: 250px;
    max-width: 250px;
    transition: width, height, margin, border 0.2s;
    margin: 0 auto;
    border: 1px solid transparent;

    &:hover:not(.crop-mode) {
        border: 1px solid $light-grey-2;

        .avatar-pic:not(.no-image) {
            height: 80%;
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 20px;
        }

        .avatar-selector-footer:not(.no-image) {
            display: inline-block;
        }
    }

    &.crop-mode {
        border: 1px solid $light-grey-2;

        .avatar-pic {
            height: 80%;
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 20px;
        }

        .avatar-selector-footer {
            display: inline-block;
        }
    }

    .avatar-pic {
        height: 100%;

        .no-image-container {
            position: relative;
            top: 45%;
            transform: translateY(-60%);
        }

        img {
            width: 100%;
            position: relative;
            top: 50%;
            transform: translateY(-50%);
        }

        ui-cropper {
            display: block;
            text-align: center;
        }
    }

    .avatar-selector-footer {
        text-align: center;
        display: none;
        transition: display 0.2s;
        width: 100%;

        a {
            cursor: pointer;
            font-size: 1.2rem;
        }

        a.edit {
            float: left;
            margin-left: 65px;
        }

        a.done {
            float: right;
            margin-right: 30%;
            display: block;
        }
    }
}

img-selector {
    display: block;
    height: 270px;
    width: 250px;
    transition: width, height, margin, border 0.2s;
    //margin: 0 auto;
    border: 1px solid $light-grey-2; //border: 1px solid transparent;
    padding: 10px 10px 25px 10px;

    &:hover:not(.crop-mode) {
        border: 1px solid $light-grey-2;

        .avatar-selector-footer:not(.no-image) {
            display: inline-block;
        }
    }

    &.crop-mode {
        border: 1px solid $light-grey-2;
        height: inherit;
        width: inherit;
        padding: 10px 10px 10px 10px;

        .avatar-pic {
            height: 80%;
            width: 80%;
            margin-left: auto;
            margin-right: auto;
            margin-top: 20px;
        }
    }

    .avatar-pic {
        height: 100%;

        .no-image-container {
            position: relative;
            top: 45%;
            transform: translateY(-60%);
        }

        img {
            width: 100%;
            position: relative;
            max-height: 230px;
            top: 50%;
            transform: translateY(-50%);
        }

        ui-cropper {
            display: block;
            text-align: center;
        }
    }

    .avatar-selector-footer {
        text-align: center;
        //display: none;
        transition: display 0.2s;
        width: 100%;

        a {
            cursor: pointer;
            font-size: 1.2rem;
        }

        a.edit {
            float: left;
            margin-left: 65px;
        }

        a.done {
            float: right;
            margin-right: 30%;
            display: block;
        }
    }

    .avatar-selector-footer.no-image {
        display: none;
    }
}

.rotobutton {
    position: relative;
    z-index: 1;

    i {
        font-size: 14px;
        color: $white;
    }

    & > span {
        border-radius: 50%;
        position: absolute;
        padding: 10px;
        background-color: $dark-grey-transparent;
        //transition: all 0.05s ease;
        z-index: 3;
        top: -14px;
    }

    & > ul {
        position: absolute;
        opacity: 0;
        transition: transform 0.5s ease-out, opacity 0.5s ease-out;
        transform: scale(0.38);
        padding-left: 41px !important;
        padding-top: 41px;
        top: -14px;

        &::before {
            content: " ";
            display: block;
            position: absolute;
            width: 100px;
            height: 100px;
            border-radius: 50%;
            left: -31px;
            top: -31px;
            z-index: -1;
            background-image: linear-gradient(
                0deg,
                $cyan 50%,
                $light-cyan-1 50%
            );
            @extend .z-depth-1;
        }

        & > li {
            position: absolute;
            padding: 10px;
            cursor: pointer;
            border-radius: 50%;

            & > i.disabled {
                color: $white-transparent-70;
            }

            &:hover:not(.disabled) {
                & > i {
                    color: $light-cyan-4 !important;
                }

                & > ul {
                    transform: scale(1);
                    transition: transform 0.5s ease-out;
                }
            }

            & > ul {
                transform: scale(0.1) rotate(-180deg);
                transition: transform 0.5s ease-out 0.25s;
                position: absolute;
                top: 4px;
                left: 3px;

                z-index: -3;

                & > li {
                    position: absolute;
                    padding: 12px;
                    margin-left: -7px;
                    margin-top: -7px;
                    cursor: pointer;

                    &:hover:not(.disabled) {
                        & > i {
                            color: $light-cyan-4 !important;
                        }
                    }
                }

                &::before {
                    content: " ";
                    display: block;
                    position: absolute;
                    width: 165px;
                    height: 165px;
                    border-radius: 50%;
                    background-image: linear-gradient(
                        0deg,
                        $transparent 50%,
                        $cyan 50%
                    );
                    //@extend .z-depth-1;
                }
            }

            $i: 1;
            @while $i <= 6 {
                $d: (2 * pi() / 6) * ($i - 1);
                &:nth-of-type(#{$i}) {
                    $pl: xang(0, 0, 0, -34, $d);
                    $pt: yang(0, 0, 0, -34, $d);

                    top: #{$pt}px;
                    left: #{$pl}px;

                    & > ul {
                        transform-origin: #{(14 - $pl)}px #{(16 - $pt)}px;

                        &::before {
                            top: #{(-1 * $pt) - 68}px;
                            left: #{(-1 * $pl) - 68}px;
                            @debug $d;
                            transform: rotate(#{($d / pi()) * 180}deg);
                        }

                        & > li {
                            &:nth-of-type(0) {
                                top: #{yang(0, 0, 0, -67, $d)}px;
                                left: #{xang(0, 0, 0, -67, $d)}px;
                            }

                            $j: 0;
                            @debug start even;
                            @while $j < 6 {
                                $pos: $j;

                                $dc: $d + ((pi() / 12) * $pos);
                                $dc2: $d - ((pi() / 12) * $pos);

                                &:nth-of-type(#{$j}) {
                                    top: #{yang(0, 0, 0, -67, $dc)-$pt}px;
                                    left: #{xang(0, 0, 0, -67, $dc)-$pl}px;
                                }

                                &:nth-of-type(#{$j + 1}) {
                                    top: #{yang(0, 0, 0, -67, $dc2)-$pt}px;
                                    left: #{xang(0, 0, 0, -67, $dc2)-$pl}px;
                                }

                                $j: $j + 2;
                            }
                        }
                    }
                }
                $i: $i + 1;
            }
        }
    }

    &:hover {
        & > span {
            background-color: $dark-cyan-1;
        }

        & > ul {
            transform: scale(1);
            opacity: 1;
        }
    }
}

.rotobutton__halfup {
    & > ul {
        &::before {
            background-image: linear-gradient(
                0deg,
                $grey-transparent-10 50%,
                $light-cyan-1 50%
            );
        }

        & > li:nth-of-type(3),
        & > li:nth-of-type(4),
        & > li:nth-of-type(5) {
            pointer-events: none;

            & > i {
                color: $light-grey-1;
            }
        }
    }
}

.rotobutton__halfdown {
    & > ul::before {
        background-image: linear-gradient(
            0deg,
            $cyan 50%,
            $grey-transparent-10 50%
        );
    }

    & > li:nth-of-type(1),
    & > li:nth-of-type(2),
    & > li:nth-of-type(6) {
        pointer-events: none;

        & > i {
            color: $light-grey-1;
        }
    }
}

.rotobutton__disable {
    & > ul::before {
        background-image: linear-gradient(
            0deg,
            $grey-transparent-10 50%,
            $grey-transparent-10 50%
        );
    }

    & > ul > li {
        pointer-events: none;

        & > i {
            color: $light-grey-1;
        }
    }
}

.no-click {
    pointer-events: none;
}

.vertical_divider {
    border-left: solid 1px $light-grey-3;
    height: 60px;
    float: left;
}

.top-align {
    vertical-align: top;
}

.rule-type-arg-desc {
    font-size: 0.8rem;
    display: none;
}

.share-link {
    background: $light-grey-4;
    height: 33px;
    width: 0px;
    position: fixed;
    bottom: 34px;
    right: 24px;
    margin-right: 70px;
    margin-top: 5px;
    display: inline-flex;
    border-radius: 5px;
    z-index: 1;

    i {
        cursor: pointer;
        color: $black;
        padding-right: 10px;
        display: none;

        &:hover {
            color: $light-lightblue-1;
        }
    }

    input {
        margin-right: 15px;
        border-bottom: none;
        height: 12px;
        padding-top: 11px;
        margin-bottom: 0px;
        color: black;
        text-overflow: ellipsis;

        &:focus {
            box-shadow: none;
        }
    }
}

.share-link.clicked {
    transition: width 1s;
    padding-left: 5px;
    width: 10%;

    i {
        transition: display 1s;
        display: block;
    }
}

input[valid-entry].validation-error,
input.validation-error {
    border-bottom: 1px solid $red;

    &:focus {
        border-bottom: 1px solid $red;
        box-shadow: none;
    }
}

.validation-error {
    color: $red;
}

span.validation-error {
    margin-top: -5px;
}

script-element-attribute {
    width: 100%;

    .companion-element-name {
        margin-bottom: 5px;
    }

    .companion-link {
        vertical-align: text-bottom;
        margin-bottom: 9px;
        margin-left: 10px;
        width: calc(100% - 120px);

        cursor: text;

        i {
            font-size: 1.2em;
            margin-top: 20px;
            position: absolute;
        }

        input {
            width: 90%;
            margin-left: 20px;
        }

        input + label {
            margin-left: 20px;
        }
    }

    .impression-element-name {
        i {
            font-size: 1.3em;
            margin-right: 5px;
            font-weight: bold;
        }
    }

    .tracker-links {
        display: flex;

        #tracker-id {
            margin-right: 10px;
        }

        #tracker-link {
            width: 100%;
        }
    }

    .attr-image {
        .attr-image-img {
            width: 90px;
            height: 55px;
            object-fit: contain;
            object-position: center;
            border-radius: 6px;
        }

        .attr-image-no-img {
            &:hover {
                border: dashed 2px $light-lightblue-1;

                i {
                    color: $light-lightblue-1;
                }
            }

            width: 55px;
            height: 55px;
            border: dashed 2px $light-grey-1;
            justify-content: center;
            display: inline-block;
            border-radius: 6px;

            i {
                margin-top: 15px;
                font-size: 1.4em;
            }
        }

        .image-upload__footer {
            width: fit-content;
            margin: 0 auto;
            font-size: 0.9em;
        }
    }
}

#annotation-types {
    // move
    text-align: center;
    width: 100%;

    #annotation-type-container {
        display: inline-flex;
        width: 100%;
        justify-content: center;

        .annotation-type {
            width: 25%;

            i {
                font-size: 4em;
            }

            p {
                margin-top: 2px;
                margin-bottom: 2px;
            }

            &:hover {
                transition: 0.2s;
                background: $light-grey-3;
                cursor: pointer;
            }
        }

        #spacer {
            padding: 2%;
            width: 5px;
            margin-right: 15px;
        }
    }
}

.sqs-block-content {
    color: $dark-grey-2 !important;

    h1 {
        color: $cyan !important;
        font-family: "Permanent Marker", cursive;
        font-size: 2.5em;
        margin-top: 0.2em;
    }

    h2 {
        color: $cyan !important;
        font-family: "Permanent Marker", cursive;
        font-size: 2em;
        margin-top: 0.2em;
    }

    h3 {
        color: $cyan !important;
        font-family: "Permanent Marker", cursive;
        font-size: 1.5em;
        margin-top: 0.2em;
    }
}

// @import "~vue-material/dist/theme/engine"; // Import the theme engine

// @import "~vue-material/dist/theme/all";

//vuetify overrides
.tabs__bar {
    overflow: hidden;
}
