<template>
  <v-btn class="button-styles" @click="onClick">
    <slot></slot>
  </v-btn>
</template>

<script lang="ts">
import Vue from "vue";
import { Component } from "vue-property-decorator";

@Component({
  name: "my-button"
})
export default class MyButton extends Vue {
  public onClick(): void {
    this.$emit("click");
  }
}
</script>

<style lang="scss">
.button-styles {
  border: 1px solid #eee;
  border-radius: 3px;
  background-color: #ffffff;
  cursor: pointer;
  font-size: 15pt;
  padding: 3px 10px;
  margin: 10px;
  & .nothing {
    border: 10px solid black;
  }
}
</style>
