<template>
    <div
        v-if="parseDataContent.length > 0"
        :style="`min-height: ${containerHeight}px`"
        :class="['dashboard-notifications', 'c-notifications', { 'c-notifications--cleared': clearedAll }]"
    >
        <div class="c-notifications__header">
            <header-comp
                icon="fa-bell"
                :title="notificationsTitle"
                :font-size="fontSize"
                :font-weight="fontWeight"
            ></header-comp>
            <filter-button text="Clear all" :small="true" @click="clearAll" />
        </div>
        <div
            v-for="(notification, index) in parseDataContent"
            :key="index"
            :class="[
                'c-notifications__item',
                notification.status ? `c-notifications__item--${notification.status}` : null,
            ]"
        >
            <a :href="notification.link" class="notification-link">
                <i
                    v-if="notification.icon"
                    :class="['notification-icon', 'fa', notification.icon, { 'fa-spin': notification.animateIcon }]"
                ></i>
                <span class="notification-text">
                    <strong>{{ notification.statusText }}:</strong>
                    {{ notification.scriptname }}
                    <span v-if="notification.version" class="notif__version-number ml-1">
                        v{{ notification.version }}
                    </span>
                </span>
            </a>
            <span
                v-if="
                    (notification.status && mapStatusToDismissable[notification.status]) ||
                    (!notification.status && defaultDismissable)
                "
                class="notification-remove"
                @click="remove(notification.id)"
            >
                <i
                    :class="[
                        'fa',
                        removing && removingId === notification.id ? 'fa-circle-o-notch fa-spin' : 'fa-close',
                    ]"
                ></i>
            </span>
        </div>

        <div v-if="isPaginateNeeded" class="text-xs-center">
            <filter-button
                :text="showLess ? 'Show less' : 'Show all'"
                :round="true"
                :small="true"
                @click="togglePaginate"
            ></filter-button>
        </div>
    </div>
</template>

<script lang="ts">
    import HeaderComp from "../header/header.comp";
    import FilterButton from "../filter-button.vue";
    import HeaderMixin from "../mixins/header.mixin";
    import { Prop, Component, Watch } from "vue-property-decorator";
    import { mixins } from "vue-class-component";
    import { NotificationData } from "../../../models/notification";

    @Component({
        components: {
            HeaderComp,
            FilterButton,
        },
    })
    export default class Notifications extends mixins(HeaderMixin) {
        @Prop({ type: String, default: "Notifications" }) readonly title: string;
        @Prop(Boolean) readonly notificationCount: boolean;
        @Prop({ type: Boolean, default: true }) readonly successDismissable: boolean;
        @Prop({ type: Boolean, default: true }) readonly errorDismissable: boolean;
        @Prop({ type: Boolean, default: true })
        readonly inprogressDismissable: boolean;
        @Prop({ type: Boolean, default: true }) readonly warningDismissable: boolean;
        @Prop({ type: Boolean, default: true }) readonly defaultDismissable: boolean;
        @Prop(Array) readonly data: Array<NotificationData>;
        @Prop(Boolean) readonly removing: boolean;
        @Prop(String) readonly removingId: string;

        public clearedAll = false;

        private maxShow = 3;
        private paginateNumber = 3;

        public containerHeight = 0;

        public mapStatusToDismissable: { [key: string]: boolean } = {
            publish_succeeded: this.successDismissable,
            publish_error: this.errorDismissable,
            publish_paused: this.warningDismissable,
            publish_inprogress: this.inprogressDismissable,
        };

        @Watch("data")
        public onDataChange(): void {
            const calculateHeight: number = this.calculateHeight();

            if (this.data.length > 0 && this.data.length <= this.maxShow) {
                this.containerHeight = calculateHeight - 64;
            }
        }

        public get notificationsTitle(): string {
            return this.notificationCount ? `${this.title} (${this.data.length})` : this.title;
        }

        public get isPaginateNeeded(): boolean {
            return this.data.length > this.maxShow;
        }

        public get showLess(): boolean {
            return this.paginateNumber > this.maxShow;
        }

        public get parseDataContent(): Array<NotificationData> {
            return this.isPaginateNeeded ? this.data.slice(0, this.paginateNumber) : this.data;
        }

        private calculateHeight(): number {
            return document.querySelector(".dashboard-notifications").clientHeight;
        }

        public remove(id: string): void {
            if (this.removingId !== id && !this.removing) {
                this.$emit("removed", id);
            }
        }

        public togglePaginate(): void {
            this.paginateNumber = this.showLess ? 3 : this.data.length;
        }

        public clearAll(): void {
            this.clearedAll = true;
            this.containerHeight = 0;
            setTimeout(() => this.$emit("removed"), 500);
        }

        private mounted(): void {
            this.containerHeight = this.calculateHeight();
        }
    }
</script>

<style lang="scss" scoped>
    .c-notifications {
        margin-bottom: 15px;
        overflow: hidden;
        transition: 0.3s ease-out;

        &--cleared {
            margin: 0px;
            height: 0px;
            min-height: 0px;
        }

        &__header {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            align-items: flex-start;

            .c-filter-button {
                margin: 0px;
                margin-bottom: 12px;
            }
        }

        &__item {
            display: flex;
            margin-bottom: 12px;
            padding-right: 15px;
            line-height: 14px;
            background-color: $white;
            border: 1px solid $light-grey-1;
            border-radius: 4px;
            color: $dark-grey-2;

            &--publish_succeeded {
                border-color: $green;
                color: $green;
            }

            &--publish_paused {
                border-color: $amber;
                color: $amber;
            }

            &--publish_inprogress {
                border-color: $amber;
                color: $amber;
            }

            &--publish_error,
            &--publish_cancelled {
                border-color: $red;
                color: $red;
            }

            .notification-text {
                width: 100%;
                color: $dark-grey-2;
                line-height: 20px;
                .notif__version-number {
                    display: inline-block;
                    padding: 1px 4px;
                    border-radius: $border-radius;
                    background-color: $light-grey-2;
                    min-width: 28px;
                    text-align: center;
                }
            }

            .notification-link {
                display: block;
                width: 100%;
                color: inherit;
                padding: 15px 15px 15px;
            }

            .notification-remove {
                color: inherit;
                font-size: 20px;
                cursor: pointer;
                padding: 15px 0px;

                &.is-disabled {
                    cursor: default;
                    opacity: 0.5;
                }
            }

            .notification-icon {
                margin-right: 17px;
                color: inherit;
                line-height: 20px;
            }
        }
    }
</style>
