;

.c-list {
    .sub-header {
        display: inline-block;
        margin-bottom: 5px !important;
    }

    &__list-top {
        position: relative;

        .add-new {
            float: right;
            cursor: pointer;
            transition: 0.2s;

            .fa-stack-2x {
                font-size: 1.1em;
                line-height: 27px;
                text-align: left;
            }

            .fa-stack-1x {
                margin-left: 4px;
                font-size: 0.8em;
                line-height: 12px;
                text-align: center;
            }

            &:hover {
                color: $pink;
            }
        }
    }

    &__list {
        padding: 0;

        &__icons {
            position: absolute;
            top: 20px;
            right: 10px;
            display: block;
            color: $blue;
            transition: all 0.2s ease;
            opacity: 0;
            visibility: hidden;

            .v-btn {
                margin: 0px 2px 0px 0px;
            }
        }

        &__item {
            .v-list__tile {
                height: 75px;
                font-size: inherit;
                -webkit-user-select: auto;
                user-select: auto;
            }

            .item-title {
                color: $pink;
            }

            .item-text,
            .item-text-dark {
                font-size: 0.8em;
                color: $grey;
            }

            .item-text-dark {
                color: $dark-grey-1;
            }

            .script-version {
                @include version-number;
                height: 24px;
                color: $dark-grey-2;
            }

            &:not(:last-of-type) {
                border-bottom: 1px solid $dark-white;
            }

            &:hover {
                .c-list__list__icons {
                    opacity: 1;
                    visibility: visible;
                }
            }
        }

        &__label {
            position: relative;
            display: inline-block;
            padding: 0px 8px;
            margin-right: 5px;
            color: $dark-grey-2;
            background-color: $light-grey-4;
            border-radius: $border-radius;
            line-height: 20px;
            font-size: 0.8em;

            &.status {
                padding-left: 20px;

                &:before {
                    content: "";
                    position: absolute;
                    top: 5px;
                    left: 5px;
                    display: inline-block;
                    width: 10px;
                    height: 10px;
                    margin-right: 15px;
                    border-radius: 50%;
                    background-color: $grey;
                }

                &--live {
                    &:before {
                        background-color: $green;
                    }
                }
            }

            &.hover {
                &:hover {
                    cursor: pointer;
                }
            }
        }
    }

    .placeholder-list {
        &:not(.placeholder-group) {
            .v-list__tile {
                height: 75px;
            }
        }

        .v-list__tile {
            height: 55px;
        }

        .placeholder {
            display: inline-block;
            height: 10px;
            background-color: $light-grey-4;

            &--avatar {
                height: 25px;
                width: 25px;
            }

            &--title {
                width: 25%;

                &-full {
                    width: 100%;
                }
            }

            &--label {
                width: 70px;
                margin-right: 5px;
            }

            &--description {
                width: 100%;
                max-width: 300px;
                margin-right: 5px;
            }
        }
    }
}
