<div v-if="!loading" id="list-comp" class="c-list">
    <template v-if="items.length > 0">
        <div class="c-list__list-top">
            <span v-if="title" class="sub-cards__header sub-header">{{ title }}</span>
            <v-tooltip v-if="showAddNewAction && addNewActionCallback" top color="blue">
                <template v-slot:activator="{ on }">
                    <span v-on="on" class="add-new" @click="addNewActionCallback">
                        <span class="fa-stack">
                            <i class="fa fa-file-code-o fa-stack-2x"></i>
                            <i class="fa fa-plus fa-stack-1x"></i>
                        </span>
                    </span>
                </template>
                <span>Add new{{ name ? ` ${name}` : null }}</span>
            </v-tooltip>
        </div>
        <v-card>
            <v-list class="c-list__list" two-line>
                <v-list-tile
                    v-for="(item, index) in items"
                    :key="`list-item_${index}`"
                    class="c-list__list__item visible-on-hover-trigger">
                    <v-list-tile-avatar v-if="resourceIcon || itemIcon">
                        <i :class="['fa', resourceIcon ? icons[item.resource] : itemIcon]"></i>
                    </v-list-tile-avatar>
                    <v-list-tile-content>
                        <v-list-tile-title>
                            <span class="item-title">
                                <slot name="title" :item="item"></slot>
                            </span>
                            <slot name="loader" :item="item"></slot>
                        </v-list-tile-title>
                        <v-list-tile-title>
                            <v-layout>
                                <slot :item="item"></slot>
                            </v-layout>
                        </v-list-tile-title>
                    </v-list-tile-content>
                    <div v-if="editCallback" class="c-list__list__icons">
                        <v-tooltip bottom color="light-blue">
                            <template v-slot:activator="{ on }">
                                <v-btn v-on="on" flat icon color="blue" @click="editCallback(item)">
                                    <i class="fa fa-pencil"></i>
                                </v-btn>
                            </template>
                            <span>
                                <i class="fa fa-info-circle"></i> Edit{{ name ? ` ${name}` : null }}
                            </span>
                        </v-tooltip>
                    </div>
                </v-list-tile>
            </v-list>
        </v-card>
    </template>
    <template v-else>
        <span v-if="title" class="sub-cards__header">No {{ titleLower }} available</span>
    </template>
</div>
<div v-else class="c-list">
    <span class="sub-cards__header sub-header">Loading...</span>
    <v-card>
        <v-list
            v-for="placeholder in 15"
            :key="placeholder"
            class="c-list__list">
            <v-list-tile class="c-list__list__script placeholder-list placeholder-group">
                <v-list-tile-avatar>
                    <i class="placeholder placeholder--avatar"></i>
                </v-list-tile-avatar>
                <v-list-tile-content>
                    <v-list-tile-title>
                        <v-layout>
                            <v-flex xs3>
                                <span class="placeholder placeholder--title placeholder--title-full"></span>
                            </v-flex>
                        </v-layout>
                    </v-list-tile-title>
                    <v-list-tile-title>
                        <v-layout>
                            <v-flex xs6>
                                <span class="placeholder placeholder--label"></span>
                                <span class="placeholder placeholder--label"></span>
                                <span class="placeholder placeholder--label"></span>
                            </v-flex>
                            <v-flex xs8>
                                <span class="placeholder placeholder--description"></span>
                            </v-flex>
                        </v-layout>
                    </v-list-tile-title>
                </v-list-tile-content>
            </v-list-tile>
        </v-list>
    </v-card>
</div>