;

$sizeMap: (
    "small": 12,
    "regular": 14,
    "medium": 18,
    "large": 24
);
$marginMap: (
    "small": 4,
    "regular": 4,
    "medium": 9,
    "large": 12
);

.c-header {
    display: flex;
    margin-bottom: 13px;
    font-size: #{map-get($sizeMap, "small")}px;
    color: $dark-grey-2;

    i {
        display: inline-block;
    }

    @each $key, $value in $sizeMap {
        &--#{$key} {
            font-size: #{$value}px;
            line-height: #{$value + 2}px;

            i {
                display: inline-block;
                margin-right: #{map-get($marginMap, $key)}px;
            }
        }
    }

    .has-asterix {
        position: relative;

        &:after {
            content: "*";
            display: inline-block;
            position: absolute;
            right: -6px;
            top: -1px;
            color: $red;
        }
    }
}
