<div :class="['c-header', color ? `${color}--text` : null, colorVariant ? `text--${colorVariant}` : null, fontSize ? `c-header--${fontSize}` : null, fontWeight ? `font-weight-${fontWeight}` : null]">
    <i v-if="icon" :class="['fa', icon]"></i>
    <span :class="{'has-asterix': asterix}">{{ title }}</span>
</div>