<template>
    <div v-if="mapCenter">
        <googlemaps-map
            ref="gmap"
            :center="mapCenter"
            :options="{mapTypeControl:false,streetViewControl:false,styles:greyStyle,gestureHandling:'cooperative'}"
            :zoom="15">
            <googlemaps-circle
                v-for="condRad in conditions"
                ref="circle"
                :key="condRad.radius.latlong + condRad.radius.radius"
                v-bind="condRad.radius"
                @dragend="dragRadius($event, condRad)"
                @click="toggleConditionHighlight(condRad)"
                />
        </googlemaps-map>
    </div>
</template>
<script lang="ts">
import Vue from "vue";
import { Component, Prop, Watch } from "vue-property-decorator";
import { Condition } from "amads-common/models/rule";
import { MapRadius } from "./mapradius";
import { greyscaleStyle } from "./mapstyle";

export interface MapConditionRadius {
    radius: MapRadius;
    condition: Condition;
}

@Component({
    name: "AmaMap",
})
export default class AmaMap extends Vue {

    public greyStyle = greyscaleStyle;
    private defaultLat: number = parseInt(this.$store.state.auth.trafficDefaults.location?.split(",")[0] || "51.517422");
    private defaultLng: number = parseInt(this.$store.state.auth.trafficDefaults.location?.split(",")[1] || "-0.120320");

    @Prop() private conditionGroup: Condition[];
    @Prop({ type: Boolean, default: false }) private highlightable: boolean;
    @Prop({ type: String, default: null }) private highlightColor: string;
    private selectedCondition = null;
    private conditions: MapConditionRadius[] = [];

    @Watch("conditionGroup", { immediate: true, deep: true })
    public renderConditions() {
        this.conditions = this.consolidateConditions(this.conditionGroup).map(condition => { 
            const radius =  new MapRadius(condition.value0, condition.value1 || "0");
            if (this.highlightColor) {
                radius.selectedColor = this.highlightColor;
            }
            if (condition === this.selectedCondition && this.highlightable) {
                radius.selected = true;
            }
            return <MapConditionRadius> {
                radius, 
                condition,
            }
        });
    }

    public dragRadius(e, condRad: MapConditionRadius) {
        const latlong = e.latLng.lat() + "," + e.latLng.lng();
        this.$emit("radius-dragged",{condition: condRad.condition, latlong});
    }
    
    public toggleConditionHighlight(condRad: MapConditionRadius) {
        this.selectedCondition = this.selectedCondition === condRad.condition ? null : condRad.condition;
        this.renderConditions();
        this.$emit('radius-clicked', this.selectedCondition);
    }

    public consolidateConditions(conditions: Condition[]): Condition[] {
        const radii = conditions
            .filter(cond => !cond.ignore)
            .reduce((acc, cond) => {
                if (
                    cond.value0 &&
                    !acc.find(
                        rad =>
                            rad.value0 === cond.value0 &&
                            rad.value1 === cond.value1
                    )
                ) {
                    // filter out duplicate location + radii
                    acc.push(cond);
                }
                return acc;
            }, []);
        return radii.sort((a, b) => {
            const aRad = parseFloat(a.value1 as string);
            const bRad = parseFloat(b.value1 as string);
            if (aRad > bRad) {
                return -1; // move larger circles to start of array to be drawn first
            } else if (aRad < bRad) {
                return 1; // move smaller circles to end of array to be drawn last
            } else {
                return 0;
            }
        }); // order by radius so we can click on small circles inside larger circles
    }

    private get southwest(): { lat: number; lng: number } {
        // find minimum lat and long
        if (this.conditions.length > 1) {
            // find max lat and long from all conditions
            return this.conditions.reduce(
                (acc, cond) => {
                    acc.lat =
                        cond.radius.center.lat < acc.lat || !acc.lat
                            ? cond.radius.center.lat
                            : acc.lat;
                    acc.lng =
                        cond.radius.center.lng < acc.lng || !acc.lng
                            ? cond.radius.center.lng
                            : acc.lng;
                    return acc;
                },
                { lat: null, lng: null }
            );
        } else {
            // only one location, add padding around point for map bounds
            const lat = this.conditions[0]?.radius.center?.lat - 0.5 || this.defaultLat - 0.5; // add padding to bottom edge of point
            const lng = this.conditions[0]?.radius.center?.lng - 0.5 || this.defaultLng - 0.5; // add padding to left edge of point
            return { lat, lng };
        }
    }

    private get northeast(): { lat: number; lng: number } {
        // find maximum lat and long
        if (this.conditions.length > 1) {
            // find max lat and long from all conditions
            return this.conditions.reduce(
                (acc, cond) => {
                    acc.lat =
                        cond.radius.center.lat > acc.lat || !acc.lat
                            ? cond.radius.center.lat
                            : acc.lat;
                    acc.lng =
                        cond.radius.center.lng > acc.lng || !acc.lng
                            ? cond.radius.center.lng
                            : acc.lng;
                    return acc;
                },
                { lat: null, lng: null }
            );
        } else {
            // only one location, add padding around point for map bounds
            const lat = this.conditions[0]?.radius.center?.lat + 0.5 || this.defaultLat + 0.5; // add padding to top edge of point
            const lng = this.conditions[0]?.radius.center?.lng + 0.5 || this.defaultLng + 0.5; // add padding to right edge of point
            return { lat, lng };
        }
    }

    public get mapCenter(): { lat: number; lng: number } {
        const center = { lat: null, lng: null };
        center.lat =
            this.southwest.lat + (this.northeast.lat - this.southwest.lat) / 2;
        center.lng =
            this.southwest.lng + (this.northeast.lng - this.southwest.lng) / 2;
        this.fitMapBounds();
        return center;
    }

    private fitMapBounds() {
        if(this.$refs.gmap) {
            const swLatLng = new google.maps.LatLng(this.southwest.lat, this.southwest.lng);
            const neLatLng = new google.maps.LatLng(this.northeast.lat, this.northeast.lng);
            const bounds = new google.maps.LatLngBounds(swLatLng, neLatLng);
            this.$refs.gmap.fitBounds(bounds,0);
        }
    }

    private mounted() {
        this.$nextTick(() => {
            this.fitMapBounds();
        });
    }
}
</script>