.hamburger-btn {
	position: relative;
	width: 51px;
	margin: 0 -13px 0 0;
	height: 40px;
	&:not(.disabled) {
		cursor: pointer;
	}
	.hamburger-btn-inner {
		height: 0.2em;
		position: absolute;
		top: 50%;
		background-color: #fff;
		margin-top: 0px;
		width: 20px;
		left: 10px;
		opacity: 1;
		transition:all 0.2s;
		border-radius: 1px;
		&:before, &:after{
			transition:all 0.2s;
			content: "";
			display: block;
			background-color: #fff;
			height: 0.2em;
			width: 20px;
			position: absolute;
			border-radius: 1px;
		}
		&:before{
			transform: translateY(-230%);
		}
		&:after{
			transform: translateY(230%);
		}
		&.active {
			background-color: transparent;
			&:before{
				transform: translateY(0) rotate(45deg);
			}
			&:after{
				transform: translateY(0) rotate(-45deg);
			}
		}
	}
}