<div id="side-menu-container">
    <div id="side-menu-close" v-show="expanded" @click="closeSideMenu"></div>
    <div id="side-menu" class="side-menu" :class="{'expanded':expanded, 'expanded-wide':wide, 'disabled':disabled, 'is-root': isRoot}">
        <slot></slot>
    </div>
</div>