<template>
    <div id="side-menu-container">
        <div id="side-menu-close" v-show="expanded" @click="closeSideMenu"></div>
        <div id="side-menu" class="side-menu" :class="{'expanded':expanded, 'expanded-wide':wide, 'disabled':disabled, 'is-root': isRoot}">
            <slot></slot>
        </div>
    </div>
</template>

<script lang="ts">
import "reflect-metadata";
import Vue from "vue";
import Component from "vue-class-component";
import { Prop, Watch } from "vue-property-decorator";

@Component({})
export default class SideMenu extends Vue {
    @Prop() public expanded:boolean;
    @Prop() public wide:boolean;
    @Prop() public disabled:boolean;
    @Prop(Boolean) readonly isRoot: boolean;

    public showMessagebar(payload:{msg:string, type:string, err?:string}) {
        this.$store.dispatch("messagebar/showMessagebar",payload)
            .catch(err => console.log("Could not show messagebar"));
    }

    public closeSideMenu() {
        this.$emit("closed");
    }

    @Watch("expanded")
    private onExpandedChange() {
        this.$store.commit("modal/SIDE_MENU_EXPAND_CHANGE", this.expanded);
    }

    private beforeDestroy() {
        this.$store.commit("modal/SIDE_MENU_EXPAND_CHANGE", false);
    }   
}
</script>

<style lang="scss">
;

#side-menu-close {
    position: fixed;
    z-index: 30;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0.6;
    background-color: $white;
}

#side-menu,
.side-menu {
    position: fixed;
    right: -410px;
    top: 105px;
    height: calc(100% - 105px);
    width: 400px;
    background-color: $white;
    transition: right 0.4s cubic-bezier(0.4, 0, 0.2, 1),
        opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    z-index: 30;
    overflow-x: hidden;
    overflow-y: auto;

    &.is-root {
        top: 63px;
        height: calc(100% - 63px);
    }

    &.expanded {
        right: 0;
        box-shadow: 0 0 8px 0 $black-transparent-90;
        &.expanded-wide {
            width: 900px;
            overflow-y: auto;
            transition: right 0.4s cubic-bezier(0.4, 0, 0.2, 1),
                opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1),
                width 0.2s cubic-bezier(0.4, 0, 0.2, 1);
        }
    }
    .close-menu {
        position: absolute;
        top: 20px;
        right: 20px;
        color: $light-grey-1;
        cursor: pointer;
        &:hover {
            color: $grey;
        }
    }
    .v-subheader {
        color: $pink;
        height: auto;
        padding: 0;
        margin: 0 0 10px 0;
        font-size: 0.8em !important;
        &.detail {
            color: $grey;
            margin: 5px 30px 10px 0;
        }
        &.sub {
            color: $lightblue !important;
        }
    }
    #menu-container {
        width: 1300px;
        #main-menu {
            width: 400px;
            padding: 20px;
            transition: 0.4s cubic-bezier(0.4, 0, 0.2, 1);
            &.shifted {
                margin-left: -400px;
            }
            .menu-item {
                font-size: 0.8em;
                margin: 0;
                padding: 6px 0;
                color: $dark-grey-3;
                cursor: pointer;
                transition: 0.2s;
                &:hover {
                    opacity: 0.8;
                }
                &.border {
                    border-top: 1px solid $light-grey-3;
                }
                &.disabled {
                    opacity: 0.3 !important;
                    cursor: auto;
                }
                i {
                    width: 16px;
                    text-align: center;
                    margin-right: 3px;
                }
            }
        }
        #main-menu,
        #sub-menu {
            float: left;
        }
        #sub-menu {
            width: 900px;
            .sub-menu {
                width: 400px;
                padding: 20px;
                button,
                a.v-btn {
                    margin: 10px 0;
                    float: right;
                    right: 0;
                    & + button {
                        margin-right: 10px;
                    }
                    i {
                        margin-left: 6px;
                    }
                }
            }
        }
        .v-input--radio-group .v-input__control .v-input__slot .v-radio label,
        .v-input--radio-group .v-input__control .v-input__slot .v-radio i {
            height: 26px !important;
        }
    }
}
.menu-text {
    color: $dark-grey-3;
    padding: 6px 0 0;
    margin: 0;
    font-size: 0.8em;
    line-height: 18px;
    display: flex;
    &:last-of-type {
        margin-bottom: 10px;
        border-bottom: 0;
    }
    i {
        width: 18px;
        max-width: 18px;
        text-align: center;
        margin-right: 5px;
        line-height: 18px;
        flex: 1;
        & + span {
            flex: 18;
        }
    }
    & + .v-subheader {
        margin-top: 10px;
    }
}

#side-menu {
    z-index: 900;
}
</style>