<template>
    <v-alert v-bind="$attrs" :icon="iconClass" :text="text" :type="type">
        <slot />
    </v-alert>
</template>

<script lang="ts">
import {Prop, Watch} from "vue-property-decorator";
import Component from "vue-class-component";
import Vue, {VNode} from "vue";

@Component({})
export default class AlertBox extends Vue {
    @Prop({ default: null }) icon: string;
    @Prop({ default: false, type: Boolean }) text: boolean;
    @Prop({ default: null, type: String }) type: any;

    public get iconClass() {
        if (this.icon) {
            return this.icon;
        }
        switch (this.type) {
            case "success":
                return "fa-check-circle";
            case "info":
                return "fa-info-circle";
            case "error":
                return "fa-exclamation-triangle";
            case "warning":
                return "fa-exclamation";
            default:
                return null;
        }
    }
}
</script>

<style lang="scss">
;
$alert-padding-small: 0.6rem;
$alert-padding: 1.4rem;
.v-alert {
    border-top: 0;
    border-radius: 10px;
    margin: 1rem 0;
    line-height: 1.4em;
    font-size: 0.8rem;
    padding: $alert-padding;
    > i.v-alert__icon {
        width: auto !important;
        margin-right: $alert-padding !important;
        color: currentColor !important;
        font-size: 1.4em !important
    }
    &::before {
        background-color: currentColor;
        border-radius: inherit;
        bottom: 0;
        content: "";
        left: 0;
        opacity: 0.12;
        position: absolute;
        pointer-events: none;
        right: 0;
        top: 0;
    }
    &[text] {
        &.info {
            color: $lightblue !important;
            caret-color: $lightblue !important;
        }
        &.success {
            color: $green !important;
            caret-color: $green !important;
        }
        &.error {
            color: $red !important;
            caret-color: $red !important;
        }
        &.warning {
            color: $dark-orange-1 !important;
            caret-color: $dark-orange-1 !important;
        }
        > div {
            color: black;
        }
    }
    &[dense] {
        padding: $alert-padding-small;
        > i.v-alert__icon {
            margin-right: 0.9rem !important;
            margin-left: (0.9rem - $alert-padding-small) !important;
        }
    }
    &__dismissible {
        &:hover {
            color: inherit;
        }
        i.v-icon.theme--light {
            height: 0;
            width: 0;
            overflow: hidden;
            color: inherit;
            opacity: 0.5;
            &:hover {
                opacity: 1;
            }
        }

        i.v-icon.theme--light::before {
            content: "\f00d";
            font-family: "FontAwesome";
            position: absolute;
            font-size: 1.2rem;
            color: currentColor;
            cursor: pointer;
        }
    }
}
</style>