<template>
    <div class="avatar">
        <v-tooltip left :disabled="hasImage || noTooltip">
            <template v-slot:activator="{ on }">
                <v-avatar :color="!hasImage ? fillColor : ''" :size="size" :tile="tile" v-on="on">
                    <slot>
                        <img v-if="hasImage" :src="image" />
                        <span v-else :class="`${textColor} initials`">{{ firstLetter }}</span>
                    </slot>
                </v-avatar>
            </template>
            <span>{{ name }}</span>
        </v-tooltip>
    </div>
</template>

<script lang="ts">
    import Vue from "vue";
    import Component from "vue-class-component";
    import { Prop } from "vue-property-decorator";

    @Component({
        name: "avatar",
    })
    export default class Avatar extends Vue {
        @Prop({
            type: String,
            default: "",
        })
        readonly image: string;
        @Prop(String) readonly name: string;
        @Prop({
            type: [String, Number],
            default: 45,
        })
        readonly size: string | number;
        @Prop({
            type: Boolean,
            default: false,
        })
        readonly tile: boolean;
        @Prop({
            type: Boolean,
            default: false,
        })
        readonly noTooltip: boolean;
        @Prop({
            type: String,
            default: "0",
        })
        readonly disabled: string;

        public colorMap: object = {
            "#D04D8F": "pink--text text--lighten-5", // purple
            "#E93785": "pink--text text--lighten-5", // pink
            "#F79A51": "orange--text text--lighten-4", // orange
            "#FCD53F": "amber--text text--darken-3", // yellow
            "#5DC4C5": "teal--text text--lighten-5", // teal
        };

        public get fillColor(): string {
            const fillColors = Object.keys(this.colorMap);
            return parseInt(this.disabled, 10) ? "#9e9e9e" : fillColors[Math.floor(Math.random() * fillColors.length)];
        }

        public get textColor(): string {
            return this.colorMap[this.fillColor];
        }

        public get firstLetter(): string {
            return this.name ? this.name.substring(0, 1).toUpperCase() : "";
        }

        public get hasImage(): boolean {
            return this.image.length > 0;
        }
    }
</script>
