<template>
    <span>
        <label>
            <slot />
        </label>
        <input
            class="hide"
            type="file"
            ref="fileInput"
            :disabled="isDisabled"
            :accept="acceptedFileTypes"
            :multiple="true"
            @change="$emit('change', $event)"
        />
    </span>
</template>

<script lang="ts">
    import { Component, Vue, Prop } from "vue-property-decorator";

    @Component({
        name: "BaseFileInput"
    })
    export default class BaseFileInput extends Vue {
        @Prop({ default: 'audio/*|video/*' } ) public acceptedFileTypes: string;
        @Prop() public isDisabled: boolean;
        public click() {
            if(!this.isDisabled) {
                this.$refs.fileInput.click();
            }
        }
    }
</script>
