<template>
    <div
        class="calendar white--text"
        :class="{ 'calendar--live': isLive, 'calendar--past': isComplete, 'calendar--small': small }"
    >
        <div class="month-day-container">
            <div class="calendar__month">{{ dates.month }}</div>
            <div class="calendar__day">{{ dates.day }}</div>
        </div>
        <div class="calendar__year">{{ small ? dates.shortYear : dates.year }}</div>
    </div>
</template>

<script lang="ts">
    import Vue from "vue";
    import Component from "vue-class-component";
    import { Prop } from "vue-property-decorator";
    import moment from "moment";

    @Component({})
    export default class Calendar extends Vue {
        /**
         * Props
         **/
        @Prop({ default: null }) date: string;
        @Prop({ default: false }) isLive: boolean;
        @Prop({ default: false }) isComplete: boolean;
        @Prop({ default: false }) small: boolean;
        /**
         * Data
         **/
        /**
         * Computed Properties
         **/
        private get dates(): { year: number | string; shortYear: string; month: string; day: number | string } {
            const date = moment(this.date).utc();
            if (date.isValid()) {
                return {
                    year: date.year(),
                    shortYear: `'${date.format("YY")}`,
                    month: date.format("MMM"),
                    day: date.date(),
                };
            } else {
                return { year: "- - - -", shortYear: "- -", month: "- - -", day: "- -" };
            }
        }
        /**
         * Methods
         **/
    }
</script>

<style lang="scss" scoped>
    .calendar {
        width: 70px;
        text-align: center;
        &__year,
        &__month,
        &__day {
            transition: background-color 0.2s, color 0.2s;
        }
        &__year {
            font-size: 0.8em;
            padding: 3px;
            color: $light-lightblue-4;
            background-color: $lightblue;
            border-radius: 0 0 $border-radius $border-radius;
        }
        &__month {
            font-size: 0.9em;
            text-transform: uppercase;
            padding: 3px 3px 2px;
            background-color: $light-lightblue-1;
            border-radius: $border-radius $border-radius 0 0;
        }
        &__day {
            font-size: 1.75em;
            padding: 0 2px;
            color: $dark-lightblue-2;
            background-color: $light-lightblue-5;
        }
        &--live {
            .calendar__year {
                color: $light-green-5;
                background-color: $light-green-1;
            }
            .calendar__month {
                background-color: $green;
            }
            .calendar__day {
                color: $dark-green-2;
                background-color: $light-green-5;
            }
        }
        &--past {
            .calendar__year {
                color: $light-grey-4;
                background-color: $grey;
            }
            .calendar__month {
                background-color: $light-grey-1;
            }
            .calendar__day {
                color: $dark-grey-1;
                background-color: $light-grey-3;
            }
        }
        &--small {
            display: flex;
            .calendar__year {
                padding: 14px 3px;
                font-size: 1em;
                border-radius: 0 $border-radius $border-radius 0;
            }
            .calendar__month {
                padding: 4px 5px 3px;
                border-radius: $border-radius 0 0 0;
            }
            .calendar__day {
                font-size: 1.6em;
                border-radius: 0 0 0 $border-radius;
            }
        }
    }
</style>
