<template>
    <base-file-input
        :class="[
            'c-drag-drop black--text text-xs-center',
            {
                'is-over-drop': isOverDrop
            }
        ]"
        :accepted-file-types="acceptedFileTypes"
        :file-input-attrs="fileInputProps"
        :is-disabled="isDisabled"
        @click.native="$refs.baseFileInput.click()"
        @dragover.native="dragOver"
        @dragleave.native="isOverDrop = false"
        @drop.native="chosen"
        @change="uploadFiles"
        ref="baseFileInput"
    >
        <div class="px-2 c-drag-drop__label">
            <i class="fas fa-upload light-blue--text" />
            <span v-if="!invalidMime" class="grey--text">
                Drag and drop your {{ fileGroupType }} or
                <span class="light-blue--text">browse</span>
                to begin upload
            </span>
            <span v-else>
                Invalid file types, should be types
                {{ acceptedTypes.join() }}
            </span>
        </div>
    </base-file-input>
</template>

<script lang="ts">
import Vue from "vue";
import { Component, Prop, Watch } from "vue-property-decorator";
import BaseFileInput from "@app/components/generic/base-file-input.vue";

@Component({
    components: { BaseFileInput }
})
export default class DragAndDrop extends Vue {
    @Prop({ default: "media" }) readonly fileGroupType: string;
    @Prop({ default: "audio/*|video/*" }) readonly acceptedFileTypes: string;
    @Prop({ default: () => {} }) public fileInputProps: object;
    @Prop({ default: (any) => {} }) public uploadFiles: (files: any) => void;
    @Prop() public isDisabled: boolean;

    public isOverDrop: boolean = false;
    public invalidMime: boolean = false;
    public acceptedTypes: string[] = [];

    private invalidTimeout: NodeJS.Timeout;

    public dragOver(ev: DragEvent): void {
        ev.preventDefault();
        ev.dataTransfer.dropEffect = "copy";
        this.isOverDrop = true;
    }

    public chosen(ev: any): void {
        ev.preventDefault();
        this.isOverDrop = false;
        this.uploadFiles(ev);
    }

    private setInvalidTimeout(): void {
        if (this.invalidTimeout) {
            clearTimeout(this.invalidTimeout);
        }

        this.invalidMime = true;
        this.invalidTimeout = setTimeout(
            () => (this.invalidMime = false),
            3000
        );
    }

    private mounted(): void {
        const matchTypes: string[] = this.acceptedFileTypes.match(/\w+\//g);

        if (matchTypes) {
            this.acceptedTypes = matchTypes.map(type => type.replace("/", ""));
        }
    }
}
</script>

<style scoped lang="scss">
;

.c-drag-drop {
    &__label {
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100%;
    }

    & ::v-deep label {
        font-size: 1.5em;
        cursor: pointer;
        border: 2px dashed $light-grey-2;
        border-radius: 5px;
        transition: 0.2s;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 34px;

        &:hover {
            border-color: $pink;
            background-color: color("pink", "lighten-5");
            & ::v-deep i,
            span {
                color: $pink !important;
            }
        }
        i {
            width: auto !important;
        }
    }

    & ::v-deep i,
    span {
        transition: 0.2s;
    }
    & ::v-deep i {
        margin-right: 10px;
    }

    &.is-over-drop {
        & ::v-deep label {
            border-color: $pink;
            background-color: transparentize($pink, 0.9);

            i {
                color: $pink;
            }
        }
    }
}
</style>
