<template>
    <div class="expandable-block" :class="blockClasses">
        <div class="expandable-block__title" @click="toggle">
            <i class="expandable-block__title-icon" :class="icon" v-if="icon"></i>
            <slot name="title" />
            <i class="expandable-block__chevron fa fa-sort-down" v-if="!hideChevron && !alwaysOpen"></i>
        </div>
        <transition-expand>
            <div v-if="isExpanded || alwaysOpen">
                <div class="expandable-block__body">
                    <slot name="body" />
                </div>
            </div>
        </transition-expand>
    </div>
</template>


<script lang="ts">
import { Prop, Model } from "vue-property-decorator";
import Component from "vue-class-component";
import Vue from "vue";
import TransitionExpand from "./transition/transition-expand.vue";

@Component({
    components: { TransitionExpand },
})
export default class ExpandableBlock extends Vue {
    @Prop({ default: false, type: Boolean }) grouped: boolean;
    @Prop({ default: false, type: Boolean }) alwaysOpen: boolean;
    @Prop({ default: false, type: Boolean }) disabled: boolean;
    @Prop({ default: false, type: Boolean }) hideChevron: boolean;
    @Prop({ default: "", type: String }) icon: string;
    @Prop({ default: false, type: Boolean }) greyBorder: boolean;
    @Prop({ default: null, type: String }) type: string;
    @Model("change", { default: undefined, type: null }) readonly model!: any;
    @Prop({ type: null }) readonly value!: any;
    // only for toggle mode
    private toggleModeExpanded: boolean = false;

    public get blockClasses(): any {
        return [
            this.type ? "expandable-block--" + this.type : "",
            this.alwaysOpen || this.isExpanded ? "expandable-block--expanded" : "",
            this.grouped ? "expandable-block--grouped" : "",
            this.greyBorder ? "expandable-block--grey-border" : "",
            this.alwaysOpen ? "expandable-block--forced" : "",
            this.disabled ? "expandable-block--disabled" : "",
        ];
    }

    public toggle() {
        if (this.disabled || this.alwaysOpen) {
            return;
        }
        if (this.modelMode) {
            this.$emit("change", this.isExpanded ? null : this.value);
        }
        this.toggleModeExpanded = !this.toggleModeExpanded;
    }

    public get modelMode() {
        return this.model !== undefined;
    }

    public get isExpanded() {
        if (this.modelMode) {
            return this.value === this.model;
        }
        return this.toggleModeExpanded;
    }
}
</script>

<style lang="scss">
;

$grey-border-color: $light-grey-2;
$grey-text-color: $grey;
$border-radius: 5px;

.expandable-block {
    position: relative;
    margin: 10px 0;
    border-width: 1px;
    border-style: solid;
    border-color: $grey-border-color transparent transparent;
    border-radius: 0;
    transition: 0.2s;
    color: $grey;
    &__body {
        padding: 10px;
        line-height: 1.5;
        position: relative;
        color: black;
    }
    &--grouped {
        &:not(:first-child) {
            margin-top: 0px;
        }
        &:not(:last-child) {
            margin-bottom: 0;
        }
        &:not(:last-child):not(.expandable-block--expanded) .expandable-block__title {
            border-bottom-color: transparent;
        }
    }
    &--expanded {
        border-radius: $border-radius;
        border-color: $grey-border-color;
        color: $dark-grey-2;
        &  + .expandable-block--grouped {
            border-top-color: transparent !important;
        }
    }

    &--disabled {
        color: $grey-text-color;
        .expandable-block__title {
            cursor: default;
        }
        .expandable-block__body, .expandable-block__title {
            * {
                color: $grey-text-color;
            }
        }
    }

    @each $type in $elementTypes {
        &--#{$type} {
            &.expandable-block--expanded:not(.expandable-block--grey-border) {
                border-color: map-get($elementMap, $type);
            }
            .expandable-block__title, h6 {
                color: map-get($elementMap, $type);
            }
        }
    }
    &__title-icon {
        margin-right: 8px !important;
        width: auto !important;
        font-size: 1.3rem;
    }
    &__title {
        user-select: none;
        cursor: pointer;
        font-size: 0.8rem;
        padding: 0 10px 0 8px;
        min-height: 36px;
        border-bottom: 1px solid $grey-border-color;
        transition: 0.2s;
        position: relative;
        display: flex;
        flex-direction: row;
        align-items: center;
        .expandable-block:not(.expandable-block--disabled) &:hover, 
        .expandable-block--expanded & {
            padding-left: 16px;
            background-color: $light-grey-4;
        }
        .expandable-block--expanded & {
            border-radius: $border-radius $border-radius 0 0;
        }
        .expandable-block--forced & {
            cursor: default;
        }
    }

    &__chevron {
        position: absolute;
        right: 10px;
        top: 50%;
        transform: translate(-50%, -50%);
        margin: 0 !important;
        width: 15px;
        height: 15px;
        line-height: 10px;
        transition: transform 0.2s;
        .expandable-block--expanded & {
            transform: translate(-50%, -50%) rotateZ(-180deg);
        }
    }
}
</style>