<template>
    <button
        :disabled="disabled"
        :class="[
            'c-filter-button',
            { 'c-filter-button--solid-bg': solidBg },
            { 'c-filter-button--separator': separator },
            { 'c-filter-button--disabled': disabled },
            { 'c-filter-button--round': round },
            { 'c-filter-button--small': small },
            { 'is-active': isActive },
        ]"
        @click="click"
    >
        <i v-if="icon" :class="['c-filter-button__icon fa', icon]" />
        <span>{{ text }}</span>
    </button>
</template>

<script lang="ts">
    import Vue from "vue";
    import { Prop, Component } from "vue-property-decorator";

    @Component({})
    export default class FilterButton extends Vue {
        @Prop({ type: String, required: true }) readonly text: string;
        @Prop(String) readonly icon: string;
        @Prop(Boolean) readonly solidBg: boolean;
        @Prop(Boolean) readonly separator: boolean;
        @Prop(Boolean) readonly disabled: boolean;
        @Prop({ default: false }) public isActive: boolean;
        @Prop(Boolean) readonly round: boolean;
        @Prop(Boolean) readonly small: boolean;

        public click(): void {
            this.$emit("click");
        }
    }
</script>

<style lang="scss">
    $icon-size: 15px;

    .c-filter-button {
        display: inline-block;
        margin: 0;
        font-size: 13.5px;
        height: 26px;
        line-height: 18px;
        padding: 3px 7px;
        border: 1px solid $grey;
        border-radius: $border-radius;
        color: $dark-grey-2;
        cursor: pointer;
        transition: 0.2s;
        text-align: center;
        &--solid-bg {
            background-color: $white;
        }

        &--round {
            border-radius: 10px;
        }

        &--small {
            line-height: 16px;
        }

        &--separator {
            position: relative;

            &:after {
                content: "";
                display: block;
                position: absolute;
                top: -4px;
                right: -12px;
                bottom: -4px;
                border-right: 1px solid $grey;
            }
        }

        &:hover {
            color: $white;
            border-color: $lightblue;
            background-color: $light-lightblue-1;
        }

        &:focus {
            background-color: transparent;
            color: $dark-grey-2;
            border: 1px solid $grey;
        }

        &.is-active {
            color: $white;
            border: 1px solid $lightblue;
            background-color: $lightblue;
        }

        &__icon {
            display: inline-flex;
            align-self: center;
            font-size: $icon-size;
            margin-right: 4px;
            position: relative;
            top: 1px;
        }

        &--disabled {
            cursor: default;
            background-color: $black-transparent-88;
            color: $black-transparent-75;
            border-color: $black-transparent-88;
        }
    }
</style>
