<template>
    <div class="c-filter-button-group">
        <slot></slot>
    </div>
</template>

<script lang="ts">
    import Vue from "vue";
    import Component from "vue-class-component";

    @Component({})
    export default class FilterButtonGroup extends Vue {}
</script>

<style lang="scss">
    .c-filter-button-group {
        text-align: right;
        & .c-filter-button,
        & .filter-select {
            margin-right: 18px;
        }
        & :last-child {
            margin-right: 0;
        }
    }
</style>
