<template>
    <div class="filter-select" :class="[{ 'is-separator': separator }]">
        <v-flex shrink>
            <v-select
                v-model="filterValue"
                :items="filterOptions"
                :disabled="disabled"
                :menu-props="{ contentClass: 'filter-select__dropdown' }"
                item-text="name"
                item-value="value"
                dense
                single-line
                hide-details
                outline
            />
        </v-flex>
    </div>
</template>

<script lang="ts">
    import Vue from "vue";
    import Component from "vue-class-component";
    import { Prop, Watch } from "vue-property-decorator";

    @Component({})
    export default class FilterSelect extends Vue {
        @Prop() public filter: string;
        @Prop() public filterOptions: { name: string; value: string }[];
        @Prop() private separator: boolean;
        @Prop() private disabled: boolean;

        public filterValue: string = null;

        @Watch("filter", { immediate: true })
        public filterUpdated(): void {
            this.filterValue = this.filter;
        }

        @Watch("filterValue")
        public updateFilter(): void {
            this.$emit("update", this.filterValue);
        }

        private mounted(): void {
            this.filterValue = this.filter; // use value from dashboard so we can update it
        }
    }
</script>

<style lang="scss">
    .filter-select {
        display: inline-flex;
        margin: 0;
        color: #616161;
        cursor: pointer;
        transition: 0.2s;
        text-align: center;
        font-size: 15px;

        &.is-separator {
            position: relative;

            &:after {
                content: "";
                display: block;
                position: absolute;
                top: -4px;
                right: -11px;
                bottom: -4px;
                border-right: 1px solid $grey;
            }
        }

        &__dropdown {
            z-index: 100 !important;
        }

        .v-input__slot {
            min-height: initial !important;
            border: 1px solid $grey !important;
            border-radius: $border-radius !important;

            .v-input__append-inner {
                margin-top: 0px !important;
                padding-left: 2px;
            }

            &:hover {
                border: 1px solid $grey !important;
            }
        }

        .v-text-field {
            padding-top: 0px;
        }

        .v-select__selections {
            font-size: 13.5px;
            font-weight: 500;
            color: $dark-grey-2 !important;

            input {
                margin-bottom: 0px;
            }
        }

        .v-input__slot:after {
            transform: scaleX(1) !important;
        }

        p {
            margin: 5px 10px 0 0;
        }

        .v-input {
            .v-input__control {
                .v-input__slot {
                    padding: 0 0 0 5px !important;
                }
            }
        }

        .v-select__selection--comma {
            margin: 3px 4px 5px 0;
            display: contents;
            font-weight: 400;
        }

        input[type="text"] {
            display: none;
            height: initial;
        }

        &:last-child {
            margin: 0;
        }
    }
</style>
