<template>
    <div class="list-index" :class="{ 'list-index--vert': vert }">
        <div
            v-for="(item, key) in indexes"
            :key="key"
            class="list-index__item mt-1"
            :class="item.active ? 'active mx-1' : 'mx-2'"
            @click="clickIndex(item)"
        >
            <div v-if="item.active">
                {{ item.value }}
            </div>
        </div>
    </div>
</template>

<script lang="ts">
    import { Prop } from "vue-property-decorator";
    import Component from "vue-class-component";
    import Vue from "vue";

    interface IndexItem {
        value: string;
        active: boolean;
    }

    @Component({})
    export default class IndexNav extends Vue {
        @Prop({ default: [], required: true }) items: unknown[]; // array of (potentially filtered) items to index
        @Prop({ default: null, required: true }) field: string; // key to use as index (eg 'name')
        @Prop({ default: false }) vert: boolean; // orient index vertically
        @Prop({ default: false }) addNew: boolean; // allow user to add new item via index

        private clickIndex(item: IndexItem): void {
            if (item.active) {
                this.$emit("click", item.value);
            }
        }

        private get indexes(): IndexItem[] {
            const usedLetters: string[] = this.items.map((item) => item[this.field]?.charAt(0).toUpperCase());
            const someStartWithNumbers = usedLetters.some((initial) => initial.toLowerCase() === initial.toUpperCase());
            const numbers: IndexItem = { value: "#", active: someStartWithNumbers };
            const allLetters = [...Array(26)].map((item, index) => {
                const value = String.fromCharCode(index + 97).toUpperCase();
                return { value, active: usedLetters.includes(value) };
            }); // array of alphabet letters
            return [numbers, ...allLetters];
        }
    }
</script>

<style lang="scss" scoped>
    .list-index {
        display: flex;
        border-bottom: 1px solid $light-grey-3;
        &--vert {
            flex-direction: column;
            position: fixed;
            right: 0;
            top: 64px;
            z-index: 100;
            height: calc(100% - 64px);
            padding: 14px 14px 14px 0;
            border-bottom: 0;
            &__item {
                width: 40px;
                max-width: 40px;
                max-height: 20%;
                &.active {
                    padding: 3px 2px 3px 4px;
                    border-radius: $border-radius 0 0 $border-radius;
                    border-bottom: 0;
                    border-right: 2px solid transparent;
                }
            }
        }
        &__item {
            text-align: center;
            max-width: 20%;
            opacity: 0.6;
            transition: background-color 0.2s;
            @media screen and (max-width: 1100px) {
                margin: 4px 2px 0 !important;
            }
            &.active {
                flex: 1;
                padding: 9px 4px 6px 4px;
                background-color: $light-grey-3;
                border-radius: $border-radius $border-radius 0 0;
                border-bottom: 2px solid transparent;
                opacity: 1;
                cursor: pointer;
                &:hover {
                    color: $pink;
                    background-color: $light-grey-2;
                    border-color: $pink;
                }
            }
            &--add-new {
                color: $pink;
            }
        }
    }
    .scrolled {
        .list-index {
            position: fixed;
            top: 141px;
            left: 71px;
            width: calc(100% - 71px);
            padding: 2px 10% 2px calc(10% + 10px);
            background-color: $light-grey-3;
            box-shadow: 0px 2px 8px 0 rgba(0, 0, 0, 0.16);
            border-bottom: 0;
            transition: 0.2s background-color, 0.2s border-color;
            z-index: 9;
            &__item {
                margin-bottom: 4px;
                line-height: 27px;
                &.active {
                    background-color: $light-grey-2;
                    border-radius: $border-radius;
                    border: 0;
                    padding: 0 4px;
                    &:hover {
                        background-color: white;
                    }
                }
                &--add-new {
                    background-color: white;
                    &:hover {
                        background-color: $light-pink-5;
                    }
                }
            }
        }
    }
</style>
