<template>
  <v-layout class="nested-view">
    <v-flex>
      <transition :name="animating ? `slide-${direction}` : 'fade'">
        <component
                :is="showPlaceholder ? 'placeholderComponent' : 'router-view'"
                key="nested-view"
                v-bind="$attrs"
                :animate="!animating"
        />
      </transition>
    </v-flex>
  </v-layout>
</template>

<script lang="ts">
  import {Prop, Watch} from "vue-property-decorator";
  import Vue from "vue";
  import Component from "vue-class-component";
  import PlaceholderComponent from "./placeholder.vue";

  @Component({
    components: {
      PlaceholderComponent
    }
  })

  export default class NestedView extends Vue {
    @Prop([String, Array]) readonly waiters: string | string[];

    public direction: string = "right";
    public animating: boolean = false;

    public get loading(): boolean {
        return this.$wait.waiting(this.waiters);
    }

    public get showPlaceholder(): boolean {
        return this.animating || this.loading;
    }

    @Watch("$route")
    onChange(to, from) {
      this.direction = to.path.length > from.path.length ? "right" : "left";

      if (to.matched[to.matched.length - 1]?.path !== from.matched[from.matched.length - 1]?.path) {
        this.animating = true;
        setTimeout(() => this.animating = false, 600);
      }
    }
  }
</script>