<template>
    <v-list-tile
        :class="[
            'panel',
            {
                'panel--link': hasClickListener,
                'panel--with-actions': actionSlots.length,
            },
        ]"
    >
        <component
            :is="avatar ? 'div' : 'v-list-tile-avatar'"
            v-if="avatar || $slots.avatar"
            class="panel__avatar"
            size="45"
            :tile="avatarTile"
        >
            <slot name="avatar" />
        </component>
        <v-list-tile-content
            :class="[`pl-3 panel__content panel__content--${actionSlots.length}`]"
            @click="$emit('click')"
        >
            <div class="panel__content--left">
                <v-list-tile-title class="panel__title">
                    <slot name="title">
                        {{ title }}
                    </slot>
                </v-list-tile-title>
                <v-list-tile-sub-title>
                    <slot name="sub-title">
                        {{ subTitle }}
                    </slot>
                </v-list-tile-sub-title>
                <div
                    :class="[
                        'message-panel d-flex align-center pa-2',
                        {
                            'message-panel--hidden': !showPanel,
                        },
                    ]"
                >
                    <slot name="message" />
                </div>
            </div>
            <div v-if="$slots.right" class="panel__content--right">
                <slot name="right"></slot>
            </div>
        </v-list-tile-content>
        <div :class="[`panel__indicator panel__indicator--${actionSlots.length}`]">
            <slot name="indicator">
                <i v-if="indicator" class="fa fa-circle" />
            </slot>
        </div>
        <v-list-tile-action :class="`panel__actions panel__actions--${actionSlots.length} align-center ml-3 pa-0`">
            <slot name="actions" />
        </v-list-tile-action>
    </v-list-tile>
</template>

<script lang="ts">
    import { Prop } from "vue-property-decorator";
    import Component from "vue-class-component";
    import Vue, { VNode } from "vue";

    @Component({
        name: "panel",
    })
    export default class Panel extends Vue {
        @Prop(String) readonly title: string;
        @Prop({
            type: String,
            default: "",
        })
        readonly subTitle: string;
        @Prop({
            type: Boolean,
            default: false,
        })
        readonly avatarTile: boolean;
        @Prop({
            type: Boolean,
            default: false,
        })
        readonly indicator: boolean;
        @Prop({
            type: Boolean,
            default: false,
        })
        readonly avatar: boolean;

        public showPanel = false;

        public get actionSlots(): VNode[] {
            return this.$slots.actions ? this.$slots.actions.filter((slot) => slot.tag) : [];
        }

        public get hasSubtitle(): boolean {
            const subTitleSlots = this.$slots["sub-title"] ? this.$slots["sub-title"].filter((slot) => slot.tag) : [];
            return subTitleSlots.length > 0 || (this.subTitle && this.subTitle.length > 0);
        }

        public get hasClickListener(): boolean {
            return this.$listeners.click && typeof this.$listeners.click === "function";
        }

        public toggleNotificationsPanel(): void {
            this.showPanel = true;
            setTimeout(() => (this.showPanel = false), 3000);
        }
    }
</script>
