<template>
  <div>
    <content-placeholders v-for="(element, i) in 5"
                          :key="i"
                          class="mb-5"
                          :animated="animate">
      <content-placeholders-text :lines="3"/>
    </content-placeholders>
  </div>
</template>

<script lang="ts">
  import {Component, Prop, Vue} from "vue-property-decorator";

  @Component
  export default class PlaceholderComponent extends Vue {
    @Prop({
      type: Boolean,
      default: false
    }) readonly animate: boolean;
  }
</script>
