<template>
    <div class="tooltip-title">
        <v-tooltip v-bind="tooltipOptions" :disabled="!tooltipTitle">
            <template v-slot:activator="{ on }">
                <i v-on="on" :class="icon"></i>
            </template>
            <span>{{ tooltipTitle }}</span>
        </v-tooltip>
        <span class="tooltip-title__title">
            <slot>

            </slot>
        </span>
    </div>
</template>

<script lang="ts">
import Vue from 'vue'
import { Prop, Component } from 'vue-property-decorator';

@Component({
    name: "tooltip-title"
})
export default class TooltipTitle extends Vue {
    @Prop({ type: String }) public tooltipTitle: string;
    @Prop({ type: null, required: true }) public icon: any;
    @Prop({ type: Object, default() { return { top: true } } }) public tooltipOptions: object;
}
</script>
