<template>
    <span>
        <!-- for v-show/v-if on component in template -->
        <v-tooltip
            :bottom="bottom"
            :right="right"
            :left="left"
            :top="!bottom && !right && !left"
            :disabled="!isDeleted && disable"
        >
            <template v-slot:activator="{ on }">
                <span
                    :class="[
                        'vn-bubble',
                        !isDeleted ? status.color : null,
                        contentClass,
                        { 'vn-bubble--can-hover': hover },
                    ]"
                    v-on="on"
                >
                    {{ !isDeleted ? `v${version || script.version}` : "?" }}
                </span>
            </template>
            <span v-if="showScriptStatus">
                <strong v-if="status.name !== 'Draft'">{{ status.name }}</strong>
                <span v-if="showDescription && script.description">
                    <br v-if="status.name !== 'Draft'" />
                    {{ script.description }}
                </span>
            </span>
            <span v-else-if="!isDeleted && !disable">
                <span v-if="!prevVersion">Created:</span>
                <span v-else>Created</span>
                <span v-if="script.previous_version_id && prevVersion">from v{{ prevVersion.version }}:</span>
                <strong>{{ createdDate }}</strong>
            </span>
            <span v-else-if="!disable">Parent version deleted</span>
        </v-tooltip>
    </span>
</template>

<script lang="ts">
    import { Prop } from "vue-property-decorator";
    import Component from "vue-class-component";
    import Vue from "vue";
    import { Script, ScriptState, PublicationState } from "amads-common/models/script";
    import { BatchStatus } from "amads-common/models/batch";

    @Component({})
    export default class VersionNumber extends Vue {
        @Prop({ default: null }) script: Script;
        @Prop({ default: null }) version: number; // if not script, just use version number
        @Prop({ default: () => [] }) previousVersions: Script[];
        @Prop({ default: false }) hover: boolean; // use tooltip
        @Prop({ default: false }) showScriptStatus: boolean; // show script status in tooltip (created date shown by default)
        @Prop({ default: false }) showDescription: boolean; // show script description in tooltip
        @Prop({ default: false }) bottom: boolean; // position of tooltip, top by default
        @Prop({ default: false }) right: boolean; // position of tooltip, top by default
        @Prop({ default: false }) left: boolean; // position of tooltip, top by default
        @Prop({ default: null }) contentClass: string;
        @Prop({ type: Boolean, default: false }) readonly flagDeleted: boolean;

        public get createdDate(): string {
            return this.$moment(this.script?.created).format("lll");
        }

        private get status(): { color: string; name: string } {
            if (this.isExpired) {
                return { color: "grey lighten-3 vn-bubble--exp", name: "Archived" };
            } else if (this.isPublished) {
                return { color: "green white--text vn-bubble--live", name: "Published" };
            } else if (this.isBuilding) {
                return { color: "amber darken-2 white--text vn-bubble--building", name: "Building..." };
            } else if (this.isWarning) {
                return { color: "amber darken-2 white--text vn-bubble--warning", name: "Build error, click to review" };
            } else if (this.isPaused) {
                return { color: "amber darken-2 white--text vn-bubble--paused", name: "Publishing paused" };
            } else if (this.isFailed) {
                return { color: "red white--text vn-bubble--failed", name: "Failed" };
            } else if (this.isPubkeyCancelled) {
                return { color: "light-blue white--text vn-bubble--cancelled", name: "Cancelled" };
            } else {
                return { color: "grey lighten-2 vn-bubble--draft", name: "Draft" };
            }
        }

        public get disable(): boolean {
            const isAndOr: boolean[] = [
                !this.hover,
                this.showScriptStatus &&
                    this.status.name === "Draft" &&
                    (!this.script?.description || !this.showDescription),
                !this.showScriptStatus && !this.createdDate,
            ];

            return isAndOr[0] || isAndOr[1] || isAndOr[2];
        }

        private get isDeleted(): boolean {
            return this.flagDeleted && this.script == null;
        }

        private get prevVersion(): Script {
            return this.previousVersions.find((ver) => ver.id === this.script?.previous_version_id);
        }

        private get isExpired(): boolean {
            return this.script?.state === ScriptState.expired;
        }

        private get isPublished(): boolean {
            return (
                this.script?.state === ScriptState.publish &&
                this.script?.buildstatus === BatchStatus.complete &&
                this.script?.publication?.state === PublicationState.ready
            );
        }

        private get isFailed(): boolean {
            return this.script?.buildstatus === BatchStatus.failed;
        }

        private get isBuilding(): boolean {
            return (
                this.script?.buildstatus === BatchStatus.inprogress ||
                this.script?.buildstatus === BatchStatus.created ||
                this.script?.buildstatus === BatchStatus.validated ||
                this.script?.buildstatus === BatchStatus.validating
            );
        }

        private get isPaused(): boolean {
            return this.script?.buildstatus === BatchStatus.paused;
        }

        private get isWarning(): boolean {
            return this.script?.buildstatus === BatchStatus.warning;
        }

        private get isPubkeyCancelled(): boolean {
            return this.script?.publication?.state === PublicationState.cancelled;
        }
    }
</script>

<style lang="scss">
    .vn-bubble {
        @include version-number;
        color: $dark-grey-2;
        padding: 0 5px;
        &--can-hover:hover {
            text-decoration: none !important;
            opacity: 1;
            &.vn-bubble--draft {
                background-color: $light-grey-3 !important;
            }
            &.vn-bubble--live {
                background-color: $light-green-1 !important;
            }
            &.vn-bubble--cancelled {
                background-color: $light-lightblue-1 !important;
            }
            &.vn-bubble--warning,
            &.vn-bubble--building,
            &.vn-bubble--paused {
                background-color: $dark-amber-1 !important;
            }
            &.vn-bubble--exp {
                opacity: 0.8;
            }
        }
        &--exp {
            opacity: 0.6;
        }
    }
</style>
